<img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week01/images/logo.jpg?raw=1" style="display: block; margin-left: auto; margin-right: auto;" alt="לוגו של מיזם לימוד הפייתון. נחש מצויר בצבעי צהוב וכחול, הנע בין האותיות של שם הקורס: לומדים פייתון. הסלוגן המופיע מעל לשם הקורס הוא מיזם חינמי ללימוד תכנות בעברית.">

# <span style="align: right; direction: rtl; float: right;">סוגי ערכים (טיפוסים, או types)</span>

<p style="text-align: right; direction: rtl; float: right;">כל ערך שאנחנו כותבים בפייתון הוא מ<strong>סוג</strong> מסוים. עד כה למדנו על שלושה סוגי ערכים שקיימים בפייתון (איזה זריזים אנחנו!):</p>

<ul style="text-align: right; direction: rtl; float: right;">
<li><abbr title="str">מחרוזת</abbr></li>
<li><abbr title="int">מספר שלם</abbr></li>
<li style="white-space: nowrap;"><abbr title="float" style="display: inline">מספר עשרוני</abbr> ("שבר")</li>
</ul>

<p style="text-align: right; direction: rtl; float: right;">היעזרו בסוגי הערכים המוצגים למעלה ונסו לקבוע מה סוג הנתונים בכל אחת מהשורות הבאות:</p>

<ol style="font-size: 1.25em;  list-style-type: i">
<li><code>"Hello World"</code></li>
<li><code>3</code></li>
<li><code>9.5</code></li>
<li><code>"3"</code></li>
<li><code>'3'</code></li>
<li><code>'9.5'</code></li>
<li><code>'a'</code></li>
</ol>

<p style="text-align: right; direction: rtl; float: right;">המינוח המקצועי ל"<dfn>סוג</dfn>" הוא "<dfn>טיפוס</dfn>", או באנגלית: <em>type</em>.</p>

<p style="text-align: right; direction: rtl; float: right;">
טיפוסי נתונים מזכירים מצבי צבירה: כפי שניתן למצוא בטבע מים בצורות שונות (כנוזל – לשתייה, וכמוצק – קוביות קרח),<br>
כך בפייתון ניתן להשתמש בערך מסוים בכמה צורות.<br>
נניח, בערך 9.5 ניתן להשתמש גם כמספר (<code>9.5</code>) וגם כמחרוזת (<code>'9.5'</code>). השימוש בכל אחד מהם הוא למטרה אחרת.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week01/images/tip.png?raw=1" style="height: 50px !important;" alt="טיפ!">
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            בניסוח רשמי או אקדמי משתמשים במינוח "טיפוס" או במינוח "טיפוס נתונים" כדי לסווג ערכים לקבוצות שונות.<br>
            בתעשייה וביום־יום משתמשים במינוח "סוג". לדוגמה: <q>מוישה, מאיזה סוג המשתנה <var>age</var> שהגדרת פה?</q><br>
        </p>
    </div>
</div>

## <p style="align: right; direction: rtl; float: right;">type</p>

<p style="text-align: right; direction: rtl; float: right;">כיוון שסוגי ערכים הם עניין מרכזי כל כך בפייתון, קיימת דרך לבדוק מה הוא הסוג של ערך מסוים.<br>
לפני שנציג לכם איך לגלות את הסוג של כל ערך (אף על פי שחשוב שתדעו לעשות את זה בעצמכם), אנחנו רוצים להציג לפניכם איך פייתון מכנה כל סוג נתונים:</p>

<div style="clear: both;"></div>

| שם בפייתון | שם באנגלית | שם בעברית |
|:----------|:--------|------:|
| str | **str**ing | מחרוזת |
| int | **int**eger | מספר שלם |
| float | float | מספר עשרוני |

<span style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי לראות את <em>הסוג</em> של ערך נתון, נשתמש ב־<code style="direction: ltr;" dir="ltr">type(VALUE)</code>, כאשר במקום <code>VALUE</code> יופיע הערך אותו נרצה לבדוק.
</span>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week01/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            לפניכם דוגמאות אחדות של שימוש ב־<code>type</code>.<br>
            קבעו מה תהיה התוצאה של כל אחת מהדוגמאות, ורק לאחר מכן הריצו ובדקו אם צדקתם.<br>
            אם טעיתם – לא נורא, ממילא מדובר פה בהימורים מושכלים.
        </p>
    </div>
</div>

In [1]:
type(1)

int

In [2]:
type(-1)

int

In [3]:
type(0)

int

In [4]:
type(1.9)

float

In [5]:
type(1.0)

float

In [6]:
type('a')

str

In [7]:
type('buya!')

str

In [8]:
type('9')

str

## <span style="align: right; direction: rtl; float: right;">תרגול</span>

<p style="text-align: right; direction: rtl; float: right;">
בדקו מה הסוג של הערכים והביטויים הבאים:
</p>

<ol style="font-size: 1.25em;  list-style-type: i">
<li><code>'david'</code></li>
<li><code>"david"</code></li>
<li><code>-900.00</code></li>
<li><code>"-900.00"</code></li>
<li><code>3 ** 5</code></li>
<li><code>5.0 ** 2</code></li>
<li><code>5 / 2</code></li>
<li><code>5 // 2</code></li>
<li><code>'5.0 ** 2'</code></li>
</ol>

In [9]:
type('david')

str

In [10]:
type("david")

str

In [11]:
type(-900.00)

float

In [12]:
type("-900.00")

str

In [13]:
type(3 ** 5)

int

In [14]:
type(5.0 ** 2)

float

In [15]:
type(5 / 2)

float

In [16]:
type(5 // 2)

int

In [17]:
type('5.0 ** 2')

str

## <p style="align: right; direction: rtl; float: right;">שוני בין סוגי ערכים</p>

<p style="text-align: right; direction: rtl; float: right;">
סוג הערכים ישפיע על התנהגותם בפועל. הריצו את שלושת קטעי הקוד הבאים ונסו לעמוד על ההבדלים ביניהם:
</p>

In [18]:
1 + 1

2

In [19]:
1.0 + 1.0

2.0

In [20]:
"1" + "1"

'11'

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week01/images/warning.png?raw=1" style="height: 50px !important;" alt="אזהרה!">
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            פעולות המערבות סוגי ערכים שונים לא תמיד עובדות.<br>
            לדוגמה, כשננסה לחבר מספר שלם ומספר עשרוני, נקבל מספר עשרוני. לעומת זאת, כשננסה לחבר מספר שלם למחרוזת, פייתון תתריע לפנינו על שגיאה.<br>
            נמשיל לקערת קוביות קרח: נוכל לספור כמה קוביות קרח יש בה גם אם נוסיף מספר קוביות, אבל יהיה קשה לנו לתאר את תוכן הקערה אם נשפוך אליה כוס מים.<br>
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right;">
דוגמה לערכים מסוגים שונים שפעולת החיבור ביניהם עובדת:
</p>

In [21]:
1 + 1.5

2.5

<p style="text-align: right; direction: rtl; float: right;">
דוגמה לערכים מסוגים שונים שפעולת החיבור ביניהם גורמת לפייתון להתריע על שגיאה:
</p>

In [22]:
"1" + 2

TypeError: can only concatenate str (not "int") to str