<img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/logo.jpg?raw=1" style="display: block; margin-left: auto; margin-right: auto;" alt="לוגו של מיזם לימוד הפייתון. נחש מצויר בצבעי צהוב וכחול, הנע בין האותיות של שם הקורס: לומדים פייתון. הסלוגן המופיע מעל לשם הקורס הוא מיזם חינמי ללימוד תכנות בעברית.">

# <span style="text-align: right; direction: rtl; float: right;">עבודה עם מידע</span>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">הקדמה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אחת מהמהפיכות המשמעותיות שאנחנו חווים בעידן המודרני היא התפוצצות חסרת תקדים של כמות המידע שנמצא בהישג ידינו.<br>
    בזכות המחשוב והכלים המתקדמים שפיתחנו, איסוף נתונים לגבי כמעט כל דבר זה דבר שבשגרה.<br>
    המוסכמות לגבי הצורך בשקיפות עבור אותם נתונים תופסים תאוצה, והשימוש בהם והניתוח שלהם עוזר לנו להגיע למסקנות מהר יותר מאי פעם.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    גופים רבים מתרגלים לחשוף את הנתונים שלהם לציבור: החל בחברות הגדולות, דרך ארגוני שקיפות וכלה בארגונים ממשלתיים.<br>
    אבל מה הם בכלל אותם נתונים, ואת מי הם משמשים?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ניתן דוגמאות לכמה מאגרי נתונים מעניינים:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li><em>מידע רפואי</em> – ההיסטוריה הרפואית של כל אדם, או התפלגות אנשים שהתחסנו לשפעת לפי חתכי אוכלוסייה שונים.</li>
    <li><em>משתמשים</em> – מידע על משתמשים באתר התרגילים של הקורס, או בשירותים פופולריים כמו Spotify ו־Facebook.</li>
    <li><em>מזג אוויר</em> – מה היה המצב המטאורולוגי בכל שעה בשנתיים האחרונות, בכל עיר בירה בעולם?</li>
    <li><em>נתוני הלמ"ס</em> – כל הנתונים של הלשכה המרכזית לסטטיסטיקה, כמו מדד המחירים לצרכן או נתוני ההשכלה הגבוהה בישראל.</li>
    <li><em>הדפדפן שלכם</em> – הסיסמאות השמורות, היסטוריית האתרים והטאבים הפתוחים.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
נסו לדמיין כמה מסקנות מעניינות מתכנת מנוסה יכול להפיק מבסיסי הנתונים הללו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    וזה לא מסתיים כאן – ההתעסקות בנתונים הפכה להיות ממש ענף שלם!<br>
    בעידן המודרני קשה להתחמק מהמושג "Big Data" (נְתוּנֵי עָתֵק), שמדבר על מאגרי מידע בלתי נתפסים בגודלם.<br>
    אמנם מדעי הנתונים הוא תחום עיסוק עצום שנספיק לגעת רק בקצה־קצהו במסגרת הקורס, אבל הוא בהחלט עשיר ומרתק.<br>
    הנה כמה דוגמאות מעניינות לשימושים שלו בעולם כיום:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li><em>ביטחון</em> – המחלקה לביטחון המולדת של ארצות הברית משתמשים במאגריה כדי לזהות אנשים מסוכנים בשדות תעופה.<br>
        לאחרונה, הם שיחררו חלק מהמידע וביקשו עזרה לשפר את האלגוריתמים שלהם. כחלק מהתחרות, הוצעו פרסים כספיים בשווי מיליון וחצי דולר.</li>
    <li><em>מכירות מקוונות</em> – חברות תעופה ורשתות קמעונאות משתמשות בנתונים כדי להתאים מחירים לפי ההיצע והביקוש.</li>
    <li><em>מסחר אלגוריתמי מקוון</em> – מסחר מהיר בבורסה באמצעות קוד, ללא התערבות גורם אנושי, על בסיס כמות נתונים גדולה.</li>
    <li><em>חברות ביטוח</em> – מתמחרות ביטוחים לפי מודלים מבוססי נתוני עתק שחוזים את הסיכונים של המבוטח.</li>
    <li><em>תרבות ופנאי</em> – AlphaGo, לדוגמה, היא בינה מלאכותית שסרקה מיליוני משחקי <a href="https://en.wikipedia.org/wiki/Go_(game)">Go</a> וניצחה את השחקנים הטובים בעולם.</li>
    <li><em>רפואה</em> –
        בשנים האחרונות מנסים לנצל נתוני עתק כדי לחזות סיבוכים אפשריים למטופל, או לאבחן בדיוק גבוה מחלות שבהן הוא לוקה.<br>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במסגרת השבוע אמנם לא נעסוק בנתוני עתק, אבל בהחלט נעשה את צעדינו הראשונים בעבודה עם מאגרי מידע.<br>
    נלמד לקרוא מידע, לאחסן אותו, ליצור מאגרי מידע בעצמנו ולהפיק ממידע שכזה תועלת.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל פתיחה: הבר באורנוס</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
חברנו החביב הרשל מנהל בר בכוכב אורנוס המרוחק.<br>
                                                 לבר לקוחות רבים, אך לאחרונה האיגוד ההיפר־גלקטי מקשה עליו בניהול המקום עם תקנות משונות.
    </p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    משהתרגל למצב, הרשל מנסה להגדיל את רווחיו מהמכירות בבר.<br>
    הוא מתכוון לשפר את החשיפה לקהל חדש, ובד בבד גם להדק את התפריט שמוגש ללקוחות.<br>
    כמו שאתם ודאי מתארים לעצמכם, להרשל יש מערכת המאגדת את הזמנותיהם של כל לקוחותיו.<br>
    המידע מסודר בצורה טבלאית המכילה את זמן ההזמנה מדויק, את המוצר שהוזמן ומחירו במערכת.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    השתמשו בקובץ resources/cocktails.csv כדי לענות על השאלות הבאות:<br>
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>באילו שעות, בערך, הבר פתוח?</li>
    <li>מי הלקוח ששילם הכי הרבה כסף על קוקטיילים?</li>
    <li>איזה קוקטייל נמכר הכי הרבה? והכי פחות?</li>
</ul>

In [19]:
import csv
import pandas as pd
from datetime import datetime, time

cocktails = pd.read_csv('/content/cocktails.csv')

hours = []
for date in cocktails.get("date_ordered"):
  try:
    current_date = datetime.strptime(date, "%Y-%m-%d %H:%M")
  except ValueError:
    pass
  else:
    hour = current_date.hour
    minute = current_date.minute
    hours.append(time(hour, minute))

print(f"The bar is open between {min(hours)} and {max(hours)}")

customer_to_payment = {}
# loop through the rows using iterrows()
for index, row in cocktails.iterrows():
  if row['full_name'] in customer_to_payment:
    customer_to_payment[row['full_name']] += row['price']
  else:
    customer_to_payment[row['full_name']] = row['price']

maximal_payment = max(customer_to_payment.values())
for key, value in customer_to_payment.items():
        if maximal_payment == value:
          print(f"the customer that paid the most is {key} and he paid {maximal_payment}")
all_cocktails = cocktails.get("drink_name").to_list()
cocktail_names = set(all_cocktails)
name_to_count = {name: all_cocktails.count(name) for name in cocktail_names}

most_bought_cocktail = max(name_to_count.values())
for key, value in name_to_count.items():
        if most_bought_cocktail == value:
          print(f"the most bought cocktail is {key} and he was bought {most_bought_cocktail} times")

The bar is open between 18:00:00 and 23:59:00
the customer that paid the most is Yam Mesicka and he paid 3961
the most bought cocktail is Eclipse and he was bought 547 times

## <span style="text-align: right; direction: rtl; float: right; clear: both;">ארגון נתונים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אחרי שריעננתם קצת את הזיכרון שלכם בפייתון ועבדתם קצת עם נתונים,<br>
    ודאי חשתם בסרבול שבהתעסקות עם הנתונים – במיוחד אם לא השתמשתם במודולים חיצוניים.<br>
    השגיאות במהלך ניסיון הטיפול בקובץ, הסרבול שבהפרדה לשדות והצורך לכתוב קוד ארוך –<br>
    כולם הופכים את ההתעסקות עם מידע מהסוג הזה לפחות כייפי.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עוד לא הכנסנו לתמונה את שאר הבעיות שבעבודה עם קבצים כאלו:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>כתיבה אליהם ממספר מקורות בו זמנית עלולה להרוס אותם.</li>
    <li>אם הקובץ גדול מדי – נצטרך למצוא דרך לקרוא אותו בחלקים קטנים, כי פייתון לא תצליח לטעון אותו לזיכרון.</li>
    <li>עבור חלק מהפעולות שיפעלו על כמות נתונים גדולה, נצטרך להשקיע זמן רב מאוד בלייעל את התוכניות שלנו.</li>
    <li>יהיה מסובך לתת למישהו הרשאה לקרוא רק חלקים מהמידע.</li>
    <li>קשה לאכוף תבניות וחוקים שאליהם המידע צריך להתאים, כך שהמידע שמוכנס לקבצים עלול להיות לא תקין.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    למזלנו, בשנות ה־80 נוצרה טכנולוגיה פופולרית שמטרתה לפתור את הבעיות הללו – ועוד בעיות רבות נוספות.<br>
    לטכנולוגיה קוראים מסדי נתונים רלציוניים (Relational databases),<br>
    והיא טכנולוגיה פופולרית מאוד שעוזרת לנו לאחסן נתונים בצורה טבלאית, לנהל אותם ולשאול עליהם שאלות.<br>
    כמה היה נוח לו הייתה להרשל טכנולוגיה שכזו, הא?
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">איך נראה מסד נתונים?</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במקרה של הרשל, היינו כנראה מאחסנים את הנתונים תחת <dfn>טבלה</dfn> שנקראת <var>drinks_sold</var>.<br>
    כל <dfn>שורה</dfn> הייתה מייצגת <dfn>ישות</dfn> – אוסף סדור אחד של פריטים, רכישה אחת של משקה.<br>
    במקרה שלנו אוסף סדור יחיד מכיל את: מספר ההזמנה, שם המזמין, תאריך ההזמנה, שם המשקה ומחירו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשבוע הקרוב אנחנו הולכים להתעסק עם טבלאות שמכילות נתונים שכאלו.<br>
    מסד נתונים יורכב מטבלה אחת או יותר, ובכל טבלה שכזו יהיו לנו שורות רבות.<br>
    כל שורה מייצגת ישות אחת (פריט אחד) באוסף הנתונים שלנו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
     בהקבלה לפייתון, אפשר לדמיין שורה בטבלה כ־tuple:<br>
    רצף של כמה נתונים שבאים אחד אחרי השני, שלכל אחד מהם יש טיפוס מסוים וערך מסוים.<br>
    אם נרצה לדייק אפילו יותר, נוכל לייצג שורה בטבלה כמילון:<br>
    עבור כל עמודה בטבלה יהיה מפתח תואם במילון, ואליו ייכנס הערך שנמצא באותה עמודה.
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/table1.svg?v=2&raw=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בתמונה טבלה בצבעי ירוק לבן. למעלה שורה מודגשת עם חץ שיוצא אליה, ובו כתוב 'שמות העמודות'. העמודה האחרונה מוקפת בקו מפוספס, ואליה יוצא חץ שכתוב 'עמודה/תכונה'. אל אחת השורות בתוך הטבלה יוצא חץ שכתוב מעליו 'שורה/ישות', וגם היא מוקפת בקו מפוספס."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        דוגמה לאחסון נתונים בצורה טבלאית.
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אחסון השורה הראשונה כ־tuple יראה כך:
</p>

In [21]:
row1 = (1, "Ronit Feldman", datetime(2019, 11, 9), "Crazy Earl", 57)

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ומילון שנוצר מהשורה הראשונה יראה כך:
</p>

In [23]:
row1 = {
    "id": 1,
    "name": "Ronit Feldman",
    "order_date": datetime(2019, 11, 9),
    "drink_name": "Crazy Earl",
    "drink_price": 57,
}

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    סביר שעד כה דמיינתם את הנתונים כטבלה ב־Excel (או Google Sheets, אנחנו לא שופטים).<br>
    נראה שצדקתם! זה באמת דומה מאוד.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם כן, אוסף של שורות כאלו הוא טבלה, וכמה טבלאות יחדיו יוצרות לנו מסד נתונים של ממש.<br>
    נוכל לדמיין טבלה כרשימה של tuple־ים, או כרשימה של מילונים.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div>
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            יצגו את טבלת <var>drinks_sold</var> הירוקה שהופיעה למעלה בעזרת מבנה נתונים פייתוני.<br>
            השתמשו במילונים לשם כך, ושמרו את מבנה הנתונים שמאגד אותם במשתנה ששמו <var>drinks_sold</var>.
        </p>
    </div>
</div>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">שאילתה</span>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">המנוע</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הרכיב המעניין ביותר בכל מסד נתונים הוא "<dfn>המנוע</dfn>", או מערכת הניהול של מסד הנתונים (<abbr title="Database Management System"><dfn>DBMS</dfn></abbr>).<br>
    זו התוכנה שעובדת מאחורי הקלעים, ומאפשרת לכם לערוך את המידע במסד הנתונים ולשאול שאלות לגביו.<br>
    חברות גדולות משקיעות משאבים רבים כדי לייעל ולשפר את הביצועים של המנועים הללו.<br>
    לבינתיים, אנחנו נשתמש במנוע קליל שנקרא SQLite.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אחזור מידע ממסדי הנתונים מתבצע באמצעות ניסוח שאלות בשפה שנקראת <dfn><abbr title="Structured Query Language">SQL</abbr></dfn>.<br>
    צעדינו הראשונים יעסקו בשימוש בשפה לצורך תחקור הנתונים הקיימים במסד הנתונים.<br>
    בעתיד, נרחיב את יכולותינו כך שנוכל גם לעדכן, להוסיף או למחוק את הנתונים במסד.<br>
    פקודת אחזור או שינוי של מידע במסד הנתונים שנכתבה ב־SQL נקראת "<dfn>שאילתה</dfn>" (או <dfn>query</dfn>).<br>
    במהלך יחידת הלימוד הזו נלמד לנסח שאילתות כדי לאחזר או לשנות מידע, ונריץ אותן בעזרת המנוע של מסד הנתונים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    השאילתות שנלמד לבצע יחזירו מידע, גם הן, בצורה טבלאית.
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/table_db1.png?v=3&raw=1" style="width: 750px; margin-right: auto; margin-left: auto; text-align: center;" alt="בתמונה טבלה בצבע לבן. בטבלה העמודות id, full_name, name, admin ו־date_of_birth. בכל שורה מוצג משתמש יחיד ולידו נתונים התואמים את העמודות."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        דוגמה לתוצאת שאילתה שהרצנו על מסד הנתונים של פורום הקורס בשביל הדגמה.<br>
        בשאילתה ביקשנו לאחזר את מספר המשתמש, השם, הכינוי, מצב הניהול ותאריך יום ההולדת של כל אחד מהמשתמשים בפורום.<br>
    </figcaption>
</figure>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">הממשק</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לצורך השבוע, הכנו לכם מסד נתונים פשוט עליו תוכלו להתנסות.<br>
    בנינו לכם גם אתר שיאפשר לכם להעלות מסד נתונים ולהריץ עליו שאילתות, בכתובת <a href="https://sql.pythonic.guru/">sql.pythonic.guru</a>.<br>
        בהמשך הפרק נעבור להשתמש בתוכנות שיותר מתאימות למשימה הזו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי להתחיל לעבוד, הורידו <a href="https://github.com/PythonFreeCourse/downloads/blob/master/imdb.db">מפה</a> את קובץ מסד הנתונים לדוגמה שיצרנו עבורכם.<br>
    היכנסו <a href="https://sql.pythonic.guru/">לאתר</a> והעלו לשם את הקובץ שהורדתם.<br>
    זהו מסד הנתונים שעליו נעבוד. הוא מכיל מידע מעניין על סרטים, כולל דירוגים, הצוות שהשתתף ביצירתם וכדומה.<br>
    מייד בסיום ההעלאה יפתח לכם חלון שבראשו תיבת טקסט – בעזרתה תעלו את השאילתות שלכם, ובתחתיתו טבלה – בה יופיעו תוצאות השאילתה.
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">מילת המפתח <code>SELECT</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נתחיל מלהכניס לתיבת הטקסט שאילתה פשוטה שתציג לנו את שמות כל הסרטים שקיימים <span style="border-bottom: 1px dashed" title="המאגר שלנו צומצם לסרטים הפופולריים ביותר כדי שיהיה קל יותר לעבוד איתו.">במאגר</span>:
</p>

```sql
SELECT title
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כיוון שמאגר הנתונים שלנו גדול במיוחד, הממשק הגרפי ישאל אתכם אם אתם רוצים להציג את כל הנתונים.<br>
    בחרו "לא" כדי למנוע קריסה של הלשונית.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשאילתה שתי מילות מפתח: <code>SELECT</code> ו־<code>FROM</code>.<br>
    אחרי מילת המפתח <code>FROM</code> נכתוב שם של טבלה שממנה נרצה <dfn>לשלוף</dfn> את הנתונים.<br>
    אחרי מילת המפתח <code>SELECT</code> נכתוב את שם העמודה שממנה נרצה לשלוף את הנתונים.<br>
    את השאילתה נסיים בנקודה פסיק.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אפשר לתרגם את השאילתה באופן מילולי ל"בחר את כל הכותרות מתוך הטבלה סרטים".
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסו להכניס את השאילתה לאתר ולהריץ. מצליחים לזהות סרטים מוכרים?<br>
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/tip.png?raw=1" style="height: 50px !important;" alt="טיפ!" title="טיפ!">
    </div>
    <div style="width: 90%;">
        ברוב מסדי הנתונים אין משמעות לבחירה באותיות גדולות או קטנות.<br>
        מסדי נתונים לרוב גם יתעלמו משבירות שורה ("אנטרים") באמצע השאילתה.
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נהוג לכנות את החלק בשאילתה שקשור ל־<code>SELECT</code> בשם "פסוקית ה־<code>SELECT</code>" (באנגלית: <code>SELECT</code> clause).<br>
    באותה צורה, נהוג לכנות את החלק בשאילתה שקשור ל־<code>FROM</code> בשם "פסוקית ה־<code>FROM</code>" (באנגלית: <code>FROM</code> clause).
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">חקר של מבנה מסדי נתונים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כיצד נדע אילו טבלאות קיימות במסד הנתונים, ואילו עמודות קיימות בכל טבלה?<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם אתם מכירים את שם הטבלה ורוצים לגלות מה העמודות שלה, יש טריק זריז וכייפי.<br>
    במקום לבקש פרטים על עמודה מסוימת, אפשר לכתוב אחרי מילת המפתח <code>SELECT</code> את הסימן <code>*</code>.<br>
    הסימן הזה יגיד למסד הנתונים שאנחנו רוצים לאחזר את כל העמודות בטבלה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסו אצלכם!
</p>

```sql
SELECT *
FROM movies;
```

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div>
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            מה שמות העמודות בטבלה <var>principals</var>?
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
אבל מה אם אנחנו לא יודעים אילו טבלאות יש לנו במסד הנתונים?<br>
    עומדות בפנינו עוד כמה אפשרויות:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>אם ישנו תיעוד מפורט במקור שממנו השגתם את מסד הנתונים – זו ודאי האפשרות העדיפה.</li>
    <li>ברוב התוכנות שמאפשרות לעבוד מול מסדי נתונים, ישנה אפשרות להציג את שמות הטבלאות ואת שמות העמודות השייכות להן.</li>
    <li>בכל מנוע אפשר לנסח שאילתה שתחזיר את שמות הטבלאות והעמודות. תוכלו למצוא את השאילתה הזו בגוגל.</li>
</ul>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/warning.png?raw=1" style="height: 50px !important;" alt="אזהרה!">
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            לפעמים יופיעו באינטרנט דוגמאות לשאילתות SQL שנראות מעט שונה ממה שתלמדו פה.<br>
            השוני נובע מכך שמנועים שונים של מסדי נתונים משתמשים לפעמים בתחביר מעט שונה של SQL,<br>
            אבל בשורה התחתונה – זו אותה הגברת בשינוי אדרת.
        </p>
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">מבנה מסד הנתונים שלנו</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    זה הזמן להציג לכם כיצד נראה מסד הנתונים שיצרנו עבורכם!<br>
    זה הולך להיראות קצת מוגזם בהתחלה, אבל אין צורך להיבהל. נסביר כל דבר כשיגיע הזמן הנכון.
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/schema_diagram.png?v=2&raw=1" style="width: 800px; margin-right: auto; margin-left: auto; text-align: center;" alt="בתמונה קופסאות שראשיהן צבועים בצבעים שונים. לכל קופסה צבע, כותרת ותוכן. הכותרת מתארת את שם הטבלה במסד הנתונים, והתוכן של הקופסה מורכב משורות – כל שורה מתארת עמודה שקיימת באותה טבלה. בין הקופסאות עוברים קווים המחברים בין עמודה בטבלה אחת לעמודה בטבלה אחרת. כל קו כזה מתאר קשר בין שתי עמודות. ליד חלק מהעמודות יש ציור של מפתח, שמסמל עמודה כעמודה ראשית בטבלה (מפתח ראשי). בכל טבלה לכל היותר סימן אחד של מפתח. ליד כל עמודה גם כתוב הטיפוס שלה – סוג הערכים שהיא יודעת להכיל."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        תרשים שמציג את כל הטבלאות והעמודות במסד הנתונים, כולל את הקשרים ביניהם.<br>
        המינוח המקצועי לתרשים שכזה הוא "תרשים ישויות קשרים" (באנגלית: <abbr title="Entity-relationship diagram">ERD</abbr>).
    </figcaption>
</figure>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div>
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            קחו את הזמן לחקור קצת את מסד הנתונים באמצעות <code>SELECT</code> ו־<code>FROM</code>.<br>
        </p>
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">עוד קצת על <code>SELECT</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אולי גיליתם כבר בעצמכם שאפשר לאחזר כמה עמודות מטבלה כלשהי במכה.<br>
    נכתוב שאילתה שתחזיר לנו שתי עמודות מטבלת <var>movies</var>: את <var>id</var> ואת <var>title</var>.<br>
    כדי לעשות זאת נפריד בין שמות העמודות באמצעות פסיק:
</p>

```sql
SELECT id, title
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נוסיף שאפשר גם לשנות את שמן של עמודות ששלפתם עליהן, בעזרת מילת המפתח <code>AS</code>.<br>
    מייד אחרי העמודה שאת שמה אתם רוצים לשנות, הוסיפו את מילת המפתח <code>AS</code>,<br>
    ואחריה כתבו את השם החדש שתרצו לתת לעמודה:
</p>

```sql
SELECT id AS imdb_id, title AS english_name
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בדוגמה שלמעלה השתמשנו במילת המפתח <code>AS</code>.<br>
    בעזרתה, הצגנו את העמודה <var>id</var> שבטבלת <var>movies</var> תחת השם החדש <var>imdb_id</var>.<br>
    את <var>title</var> מאותה טבלה הצגנו תחת השם החדש <var>english_name</var>.<br>
    יכולנו גם לבחור לתת רק לאחת מהעמודות שם חדש, או, כפי שעשינו קודם, לבחור לשלוף אותן בשמן המקורי.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/warning.png?raw=1" style="height: 50px !important;" alt="אזהרה!">
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            שאילתות <code>SELECT</code> ככלל לא משנות מידע במסד הנתונים עצמו.<br>
            הן רק מחזירות פלט לפי השאילתה שהעברתם למסד הנתונים.
        </p>
    </div>
</div>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/tip.png?raw=1" style="height: 50px !important;" alt="טיפ!" title="טיפ!">
    </div>
    <div style="width: 90%;">
        נסו לשמור על שמות העמודות שלכם ידידותיות כמה שאפשר.<br>
        הימנעו משמות עמודות עם רווחים, מילים שמורות (כמו <code>SELECT</code>), תווים מיוחדים או מילים בעברית שמתועתקות לאנגלית.<br>
        ודאו תמיד שבחרתם שם מוצלח – גם אם מסד הנתונים לא התריע על שגיאה.
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">שמים גבול</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שליפה של נתונים רבים מדי עלולה להיות בעוכרינו.<br>
    היא דורשת ממסד הנתונים לבצע פעולות מיותרות שלוקחות זמן,<br>
    והעברת הנתונים באינטרנט ככל הנראה תאט מאוד את המהירות שבה נוכל לראות את תוצאות השאילתה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לשם כך באה לעזרתינו מילת המפתח <code>LIMIT</code>.<br>
    היא מאפשרת לנו להגיד כמה רשומות נרצה לאחזר בעזרת השאילתה שכתבנו.<br>
    המילה הזו תבוא בסוף השאילתה, ואחריה נציין את מספר הרשומות המירבי שנרצה לאחזר.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ננסה, לדוגמה, לשלוף מטבלת <var>movies</var> רק 100 סרטים:
</p>

```sql
SELECT *
FROM movies
LIMIT 100;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    תוכלו להיווכח בעצמכם בשינוי המשמעותי במהירות שבה התוצאות חוזרות.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בחלק מהניבים השונים של SQL, אתם תראו שאנשים משתמשים במילה <code>TOP</code> במקום במילה <code>LIMIT</code>.<br>
    זו אותה הגברת בשינוי אדרת.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/warning.png?raw=1" style="height: 50px !important;" alt="אזהרה!">
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            מילת המפתח <code>LIMIT</code> לא תחזיר בהכרח את אותן רשומות בכל פעם.
        </p>
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל ביניים: איך כוכב אחד מעז</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כתבו שאילתה שמציגה 100 אנשי מפתח מטבלת <var>principals</var>.<br>
    השאילתה תציג את כל העמודות בטבלה.<br>
    כתבו את השאילתה כך שבתוצאות העמודה <var>characters</var> תופיע בשם <var>personas</var>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסו לפתור את התרגיל בלי להציץ בתיעוד שסיפקנו למעלה.<br>
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">עמודה מלאכותית</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אפשר יחסית בקלות ליצור עמודה נוספת שתופיע כחלק מתוצאות השאילתה שלנו.<br>
    דוגמה די מטופשת תהיה, לדוגמה, להוסיף לצד כל העמודות של סרט מסוים עמודה שבה תמיד מופיעה הספרה 1.
</p>

```sql
SELECT *, 1
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    העמודה הזו תקרא כברירת מחדל "1", אבל כמו שלמדנו קודם, נוכל לתת לעמודה הזו שם:
</p>

```sql
SELECT *, 1 AS is_movie
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הדוגמה הזו אולי לא מחוכמת במיוחד, אבל היא הקדמה טובה להרבה דברים מעניינים שאפשר לעשות.<br>
    יצירת עמודה חדשה מאפשרת לנו גמישות בהצגת הפלט מהשאילתה שלנו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ננסה להריץ ביטוי מעט יותר מורכב:
</p>

```sql
SELECT *, 17 + 5 * 5 AS universal_answer
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ונראה שמסד הנתונים יודע להתמודד גם עם ביטויים אריתמטיים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עד כה המשחקים הללו נראים נחמדים, אבל לא באמת מועילים.<br>
    הכיף האמיתי מתחיל כשאנחנו גוזרים את העמודה המלאכותית החדשה שלנו מתוך נתונים קיימים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לדוגמה, בטבלה <var>movies</var> קיימת העמודה <var>duration</var>.<br>
    כיצד הייתם יוצרים עמודה נוספת בשם <var>duration_in_hours</var> שבה נראה כמה שעות (ולא דקות) אורך הסרט?<br>
    נסו להשיג את התוצאה בעצמכם, התשובה נמצאת בתא שפה למטה.<br>
    הפתרון לאו דווקא מובן מאליו, ודורש מעט אינטואיציה טכנולוגית.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כך אנחנו עשינו זאת:
</p>

```sql
SELECT *, duration / 60.0 AS duration_in_hours
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בתא שלמעלה השתמשנו בעמודה <var>duration</var>.<br>
    חילקנו את ערכה ב־60 וקראנו לערך שנוצר <var>duration_in_hours</var>.<br>
    מסד הנתונים לקח בכל שורה את הערך שבעמודה <var>duration</var>, חילק אותו ב־60 והוסיף אותו כעמודה בשם שבחרנו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כל פעם שאנחנו מכניסים ביטוי כשדה חדש ב־<code>SELECT</code>,<br>
    נוכל לדמיין שמסד הנתונים עובר שורה שורה ומחשב את הביטוי עבור השורה המסוימת הזו –<br>
    ממש כמו בלולאה בפייתון!
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עד כה התייחסנו לעמודות חדשות שבחרנו להוסיף בפסוקית ה־<code>SELECT</code>, בשם "עמודות מלאכותיות".<br>
    השם שלהן בעגה המקצועית הוא "<dfn>עמודות מחושבות</dfn>" (<dfn>Computed columns</dfn>).
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">מילת המפתח <code>WHERE</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    צורך בסיסי בעבודה עם כמות גדולה של נתונים הוא להתמקד באוסף נתונים שרלוונטי למשימה שלנו.<br>
    לכן, נצטרך הרבה פעמים כלי שעוזר לנו לקבל רק שורות שעונות על תנאי מסוים.
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>באתר של ביקורת מסעדות, יתכן שנרצה להציג רק ביקורות מהשנה האחרונה.</li>
    <li>כשנתחיל להקליד כתובת של אתר בשורת הכתובות בדפדפן, יוצגו לי רק הצעות לכתובות שמתחילות בתווים שהקלדתי.</li>
    <li>בפרופיל המשתמש שלי ב־Facebook, יוצגו לי רק תמונות שקשורות אליי.</li>
    <li>באתר של צפייה בכוכבים, כדי לא להעמיס על הממשק, יוצגו רק כוכבים שמרחקם 2 שעות ו־36 דקות אור מאיתנו.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במקרים כאלו, מילת המפתח <code>WHERE</code> יכולה לעזור לנו מאוד.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נתחיל בשליפת כל העמודות של טבלת האנשים המפורסמים במסד הנתונים שלנו.<br>
    נסו בעצמכם – הרשומות אודות אותם אנשים נמצאות תחת הטבלה <var>names</var>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשלב הזה אתם אמורים להרגיש בנוח עם השליפה הזו:
</p>

```sql
SELECT *
FROM names;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נניח שאנחנו מעוניינים לקבל את כל האושיות שגבוהם גדול מ־2 מטר.<br>
    נוכל להשתמש במילת המפתח <code>WHERE</code> כדי לבצע את הסינון הזה:
</p>

```sql
SELECT *
FROM names
WHERE height >= 200;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בתא האחרון הוספנו את פסוקית ה־<code>WHERE</code> לסוף השאילתה.<br>
    הפסוקית הזו מאפשרת לנו לסנן את הנתונים לפי תנאי שיכתב בה.<br>
    לדוגמה, אנחנו ביקשנו להחזיר רק שורות שבהן הערך שמופיע בעמודה <var>height</var> יהיה לפחות 200.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אפשר לנסח את השאילתה הזו במילים:<br>
    בחר (<code>SELECT</code>) את כל העמודות, מתוך (<code>FROM</code>) הטבלה <var>names</var>, שבהן (<code>WHERE</code>) ערך העמודה <var>height</var> גדול או שווה ל־<var>200</var>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כמו שאתם יכולים לנחש, סימני השיוויון שאתם מכירים מפייתון תופסים כאן: <code dir="ltr" style="direction: ltr;"><=</code>, <code dir="ltr" style="direction: ltr;"><</code>, <code dir="ltr" style="direction: ltr;">></code> ו־<code dir="ltr" style="direction: ltr;">>=</code>.<br>
    היוצאים מן הכלל הם הסימן <code>=</code> שמחליף את הסימן <code>==</code>, והסימן <code><></code> שלרוב מופיע במקום <code dir="ltr" style="direction: ltr;">!=</code>.<br>
     שימוש בסימן <code>==</code> ממש לא חוקי ויזרוק לכם שגיאה, ולעומתו הסימן <code dir="ltr" style="direction: ltr;">!=</code> אומץ ברוב הניבים של SQL ויעבוד לכם כמעט תמיד.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/warning.png?raw=1" style="height: 50px !important;" alt="אזהרה!">
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            SQL, כמו פייתון, רגישה לאותיות גדולות וקטנות כשמבקשים ממנה להשוות בין מחרוזות.<br>
            בניגוד לפייתון, אפשר להשתמש רק בגרש (<code>'</code>) כדי לבנות מחרוזת. גרשיים (<code>"</code>) יקיפו שם של טבלה או עמודה.
        </p>
    </div>
</div>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div>
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            בשנת 1994 יצא סרט דרמה אפי הונגרי מצליח בשם "הטנגו של השטן" (Sátántangó).<br>
            מה אורכו של הסרט?
        </p>
    </div>
</div>

439 minutes

### <span style="text-align: right; direction: rtl; float: right; clear: both;">סדר הרצת פסוקיות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מעניין לדעת שמנוע ה־SQL לא מריץ את הפסוקיות בסדר שבו הן כתובות בשאילתה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ננתח את סדר הרצת הפסוקיות בשאילתה הפשוטה הבאה:
</p>

```sql
SELECT *
FROM names
WHERE height >= 200
LIMIT 10;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    המנוע קודם יגש לטבלה ממנה הוא רוצה לשלוף (<var>names</var>), אותה ציינו בפסוקית ה־<code>FROM</code>.<br>
    משם הוא קודם כל יברור את הנתונים לפי התנאי (<code>height >= 200</code>) שסיפקתם לו בפסוקית ה־<code>WHERE</code>,<br>
    לאחר מכן הוא יבחר את כל העמודות הרלוונטיות להצגה (<code>*</code>), שמופיעות בפסוקית ה־<code>SELECT,</code><br>
    ולבסוף הוא יחזיר רק את כמות התוצאות שכתובה ב־<code>LIMIT</code> (במקרה שלנו – <code>10</code>).
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/clause-execution-order.svg?v=1&raw=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בתמונה: שאילתה שבנויה מ־4 פסוקיות: SELECT, FROM, WHERE ו־LIMIT. משמאל למילה FROM מופיע עיגול עם הספרה 1, משמאל למילה WHERE מופיע עיגול עם הספרה 2, משמאל למילה SELECT מופיע עיגול עם הספרה 3 ומשמאל ל־LIMIT מופיע עיגול עם המילה 4."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        איור שממחיש את סדר הרצת הפסוקיות בשאילתת SQL שמבצע מנוע ה־SQL על מסד הנתונים.
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    חלק ממנועי ה־SQL יתריעו על שגיאה כשתנסו להריץ שאילתה שלא תואמת את הסדר הזה.<br>
    לדוגמה, כמעט כל מנוע שהוא לא SQLite (המנוע בו אנחנו משתמשים כרגע) יתריע על שגיאה בשאילתה הבאה:
</p>

```sql
SELECT height / 100 AS meters
FROM names
WHERE meters >= 2
LIMIT 10;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כשמנוע ה־SQL מגיע לפסוקית ה־<code>WHERE</code>, הוא טרם הריץ את פסוקית ה־<code>SELECT</code>.<br>
    לכן הוא לא מכיר את העמודה המחושבת <var>meters</var>, ותיזרק לכם שגיאה.<br>
    SQLite <a href="https://stackoverflow.com/a/64642240/1058671">פותר</a> את הבעיה הזו בכך שמאחורי הקלעים הוא מעתיק את הביטויים בעמודות מחושבות לתוך פסוקית ה־<code>WHERE</code>.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">אופרטורים לוגיים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ודאי לא יפתיע אתכם שאופרטורים לוגיים קיימים גם ב־SQL –<br>
    מדובר על אותם <code>AND</code>, <code>OR</code> ו־<code>NOT</code> שהתרגלנו לכתוב בביטויים בוליאניים בפייתון.<br>
    נוכל לכתוב אותם בפסוקיות <code>WHERE</code> כדי ליצור תנאים מורכבים ומעניינים יותר.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כך, לדוגמה, נוכל לבקש סרט אחד שיצא בשנות ה־50:
</p>

```sql
SELECT *
FROM movies
WHERE year >= 1950 AND year < 1960
LIMIT 1;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשלב הזה אנחנו מניחים שהעמקתם ואתם בקיאים בניסוח ביטויים בוליאניים,<br>
    ולכן לא נתעכב על הנושא הזה במחברת הזו.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל ביניים: Sir Etzar</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    תחביבו של סר. אטזר הוא לראות סרטים בשפת המקור.<br>
    חפשו עבורו סרטים ששמם בשפת המקור שונה מהשם הפופולרי שלהם.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    חשוב לציין שסר. אטזר הוא בחור עסוק למדי, ולכן יוכל לצפות רק ב־5 סרטים שאורך כל אחד מהם הוא פחות משעה וחצי.<br>
    שלפו את הכמות הנכונה של סרטים שמתאימים לדרישותיו של סר. אטזר.
</p>

SELECT *
FROM movies
WHERE title != original_title and duration < 90
LIMIT 5;

### <span style="text-align: right; direction: rtl; float: right; clear: both;">אופרטור ההשוואה <code>LIKE</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אופרטור השוויון ב־SQL (<code>=</code>), כמו בפייתון, מניח שהנתון שמופיע מצידו הימני שווה לחלוטין לנתון שמופיע בצידו השמאלי.<br>
    בשימוש שוטף במסדי נתונים, לא יעבור זמן רב עד שנגלה שהכלי הזה לא מספיק חזק כדי לענות על כל הצרכים שלנו.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מה אם נרצה לחפש בתוך מלל ב"בערך", ולא בהכרח לחפש שיוויון מוחלט?<br>
    זה קורה לעיתים כל כך תכופות!
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הנה כמה מצבים כאלו שחשבנו עליהם:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>כל הקבצים שהסיומת של שמם היא html.</li>
    <li>כל הפוסטים בפייסבוק שכתוב בהם "פייתון" איפשהו בתוך הפוסט.</li>
    <li>כל מספרי הטלפון שמתחילים ב־972 (הקידומת של ישראל).</li>
    <li>כל כתובות הדואר האלקטרוני שאין בהן @, ולכן כנראה מזויפות.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מטרת אופרטור ההשוואה <code>LIKE</code> היא לפתור עבורנו את הבעיה הזו.<br>
    הוא יכתב כחלק מפסוקית ה־<code>WHERE</code>, ויאפשר לנו לחפש תבניות.<br>
    נראה דוגמה לשימוש בו, ואז נסקור כיצד להשתמש בו במקרים נוספים:
</p>

```sql
SELECT *
FROM movies
WHERE title LIKE '%Sherlock%';
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בתא שלמעלה השתמשנו באופרטור ההשוואה <code>LIKE</code> –<br>
    דרשנו לקבל את כל השורות בהן מתקיים התנאי <code dir="ltr" style="direction: ltr;">title LIKE '%Sherlock%'</code>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כשאנחנו משתמשים באופרטור ההשוואה <code>LIKE</code> אנחנו מבקשים לבחון האם הביטוי בצד שמאל תואם את התבנית שנמצאת בימין.<br>
    במקרה שלנו, ביקשנו לבדוק בכל שורה אם הערך שב־<var>title</var> תואם את התבנית <code>'%Sherlock%'</code>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הכללים לניסוח תבנית פשוטים מאוד (פה קורה הקסם!):
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>התו <code>%</code> מחליף 0 או יותר תווים.</li>
    <li>התו <code>_</code> מחליף תו אחד בדיוק.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כך שהתבנית שניסחנו אומרת "כל מחרוזת הכוללת את המילה Sherlock".<br>
    באותה מידה, יכולנו להשתמש ב־<code dir="ltr" style="direction: ltr;">'Sherlock%'</code> כדי לקבל רק את השורות שמתחילות במילה Sherlock.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div>
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            תוכלו לשלוף את כל הסרטים שאורך שמם הוא בדיוק 5 תווים?
        </p>
    </div>
</div>

SELECT *
FROM movies
WHERE title LIKE '_____';

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/tip.png?raw=1" style="height: 50px !important;" alt="טיפ!" title="טיפ!">
    </div>
    <div style="width: 90%;">
        חבר קרוב של אופרטור ההשוואה <code>LIKE</code> הוא <code>NOT LIKE</code>.
    </div>
</div>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/warning.png?raw=1" style="height: 50px !important;" alt="אזהרה!">
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            מבחינה טכנית, אפשר להשתמש ב־<code>LIKE</code> בשביל השוואה פשוטה – אם במקום תבנית נכתוב לימינו מחרוזת רגילה.<br>
            זה נחשב לא מנומס ואין סיבה טובה לעשות את זה.
        </p>
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">הערך <code>NULL</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    <code>NULL</code> הוא קבוע מיוחד, והוא קיים כדי לייצג חוסר בערך במסד הנתונים שלנו.<br>
    הוא מזכיר למדי את הערך הפייתוני <code>None</code>, שגם הוא מייצג ריק, שום דבר.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    למרבה ההפתעה, המצב של הופעת הערך <code>NULL</code> הוא נפוץ יחסית.<br>
    חשבו על כל הפעמים שיתכן שסיפקו לנו מידע חסר, או על המצבים שבהם אין מידע למלא בעמודה:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>טבלת משתמשים עם כתובות הדואר האלקטרוני שלהם – שחלק מהמשתמשים לא סיפקו.</li>
    <li>העמודה "תאריך עלייה" במרשם האוכלוסין תהיה לא רלוונטית עבור אנשים שנולדו בארץ.</li>
    <li>במערכת הגשות התרגילים, אם אפשר להגיש תרגיל מסוים ללא הגבלת זמן – הערך שמופיע אצלו בעמודת <var>due_date</var> הוא <code>NULL</code>.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    חשוב לחדד ש־<code>NULL</code> לא מציין אפס – הוא מציין שהמידע פשוט לא נמצא שם.<br>
    אם אני מריץ שאילתה שמטרתה לבדוק כמה מקררים יש במלאי ומקבל בחזרה את התשובה <code>NULL</code>,<br>
    אני יודע שלמרות שיש מקררים במסד הנתונים, לא עודכן המלאי עבורם.<br>
    <code>NULL</code> לא אומר שאין מקררים במלאי – מצב שכזה היה מיוצג על ידי הערך 0.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הבעיה מתחילה בכך שהערך <code>NULL</code> ב־SQL מתנהג קצת מוזר.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ננסה להריץ שאילתה שמחזירה את כל הסרטים שלא ידוע מה היה תקציב ההפקה שלהם:
</p>

```sql
SELECT *
FROM movies
WHERE budget = NULL;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    למרבה ההפתעה, השאילתה הזו לא מחזירה לנו אף סרט.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    טוב, אם כך, כנראה שאנחנו יודעים מה היה תקציבם של כל הסרטים שבמסד הנתונים שלנו. כמה נפלא.<br>
    נשלוף את כל הסרטים שבהכרח ידוע לנו מה היה תקציב ההפקה שלהם:
</p>

```sql
SELECT *
FROM movies
WHERE budget <> NULL;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    גם הפעם השאילתה לא החזירה לנו שורות כלל! איזה משונה, אנחנו יודעים שבטבלה יש סרטים!<br>
    הסרטים שתקציב ההפקה שלהם <code dir="ltr" style="direction: ltr;">= NULL</code> והסרטים שתקציב ההפקה שלהם <code dir="ltr" style="direction: ltr;"><> NULL</code>, שני ההפכים המוחלטים, לא מחזירים אף שורה.<br>
    מה מתרחש פה?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מתברר שב־SQL נוסף לערכים הלוגיים שאנחנו רגילים אליהם (<code>True</code>, <code>False</code>), ישנו ערך לוגי שלישי: <code>Unknown</code>.<br>
    כך הוגדר שתוצאת בדיקת השוויון ל־<code>NULL</code> היא תמיד <code>Unknown</code>. הוא הדין גם לגבי בדיקת אי־שוויון.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כיוון שמנוע ה־SQL יחזיר רק שורות שעבורן הביטוי הלוגי בפסוקית ה־<code>WHERE</code> שקול ל־<code>True</code>,<br>
    בדיקת שוויון רגילה עם <code>NULL</code>, שתוצאתה <code>Unknown</code>, תגרום למנוע לא להחזיר את השורות שציפינו לקבל.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נראה לדוגמה את המקרה המובהק הבא.<br>
    על פניו, כל ערך שווה לעצמו ולכן אמורות לחזור לנו כל השורות מהטבלה.<br>
    בפועל, כיוון שהשוואה ל־<code>NULL</code> תמיד תחזיר <code>Unknown</code>, מנוע ה־SQL לא יחזיר לנו אף שורה מהטבלה:
</p>

```sql
SELECT *
FROM movies
WHERE NULL = NULL;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אז מה אפשר לעשות אם נרצה בכל זאת לבצע השוואה ל־<code>NULL</code>?<br>
    נוכל להשתמש באופרטור ההשוואה <code>IS</code> ולבדוק האם ערך מסוים <code>IS NULL</code> או <code>IS NOT NULL</code>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נבדוק, אם כן, אילו בעלי תפקידים בכירים שיחקו גם דמויות:
</p>

```sql
SELECT *
FROM principals
WHERE characters IS NOT NULL;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עכשיו, כשאתם יודעים איך <code>NULL</code> מתנהג, חשוב להיזהר ממצבים שבהם הוא עלול להציק לנו.<br>
    כשנכתוב שאילתה לאחזור כל האנשים שגובהם הוא לא בדיוק 2 מטר,<br>
    נצטרך לציין במפורש את המקרה בו הגובה שלהם הוא <code>NULL</code>:
</p>

```sql
SELECT *
FROM names
WHERE height != 200
      OR height IS NULL;
```

## <span style="text-align: right; direction: rtl; float: right; clear: both;">סיכום</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במחברת זו צללנו לראשונה לעולם של SQL ולמדנו את היסודות לכתיבת שאילתות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הבנו מה זה מסד נתונים ומתי משתמשים בו, וסקרנו לראשונה את הרעיון של אחזור מידע ממסד הנתונים.<br>
    ראינו כיצד לאחזר מידע די מעניין בעזרת שאילתות פשוטות יחסית, שמורכבות מהפסוקיות <code>SELECT</code>, <code>FROM</code>, <code>WHERE</code> ו־<code>LIMIT</code>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    למדנו גם על אופרטורי השוואה וביניהם <code>LIKE</code>, ופגשנו שוב את <code>AND</code>, <code>OR</code> ו־<code>NOT</code> – הפעם בהקשרי SQL.<br>
    קינחנו בלהבין מי זה <code>NULL</code> ועל המוזרויות שבהתעסקות איתו – ושמחייבות אותנו להשתמש ב־<code>IS NULL</code> ולא לבצע השוואה ישירה מולו.
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">מונחים</span>

<dl style="text-align: right; direction: rtl; float: right; clear: both;">
    <dt>מסד נתונים (Database)</dt>
    <dd>
        אוסף מסודר של מידע שלרוב מאוחסן במכשיר אלקטרוני, ולעיתים קרובות מנוהל על ידי תוכנה ממוחשבת.
    </dd>
    <dt>המנוע (Database Management System)</dt>
    <dd>
        תוכנה ממוחשבת שמאפשרת למשתמשים בה להגדיר, לתחזק ולאחזר מידע ממסד הנתונים.
    </dd>
    <dt>עמודה (Column)</dt>
    <dd>
        נקרא גם <dfn>תכונה</dfn> (<dfn>attribute</dfn>) או <dfn>שדה</dfn> (<dfn>field</dfn>).<br>
        הגדרה מופשטת של תכונה מסוימת שמשותפת למספר עצמים. לתכונה יש סוג נתונים (טיפוס) והגבלות שיכולות לחול עליה.<br>
        לדוגמה – התכונה "תאריך יום הולדת" תהיה מסוג תאריך, ותחול עליה ההגבלה שהערך בה לא יכול להיות בעתיד.
    </dd>
    <dt>שורה (Row)</dt>
    <dd>
        גם <dfn>רשומה</dfn> (<dfn>entry</dfn>) או <dfn>ישות</dfn> (<dfn>entity</dfn>).<br>
        עצם המורכב מאוסף של תכונות ומוגדר לפיהן.<br>
        לדוגמה – משתמש במערכת ניהול לקוחות יהיה בעל התכונות: שם, טלפון, מספר תעודת זהות ותאריך יום הולדת.
    </dd>
    <dt>טבלה (Table)</dt>
    <dd>
        קיבוץ של 0 ישויות או יותר, שלכל אחת מהן יש אותן תכונות.
    </dd>
    <dt>מסד נתונים רלציוני (Relational Database)</dt>
    <dd>
        סוג של מסד נתונים שבו כל ישות ("שורה") מורכבת מקבוצת תכונות ("עמודות").<br>
        ישויות עם אותן תכונות מקובצות לרוב תחת טבלה אחת.
    </dd>
    <dt>שאילתה (Query)</dt>
    <dd>
        קוד שמטרתו לקבל מידע ממסד נתונים, או לבצע שינויים במסד הנתונים.<br>
        השאילתה נכתבת בשפה שנקראת SQL – שפת שאילתות מובנית.
    </dd>
    <dt>פסוקית (Clause)</dt>
    <dd>
        חלק משאילתת ה־SQL שכולל מילת מפתח ואת החלקים שמתייחסים אליה.
    </dd>
</dl>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגילים</span>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תמיד ביחד?</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    החזירו את כל הסרטים שיש בהם 2 כספרה, ללא ספרות או תווים נוספים שצמודים אליה.<br>
    אל תחזירו סרטים שבהם יש את הספרה 2 כחלק ממספר גדול יותר.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לדוגמה: החזירו את הסרט Shrek 2, אך לא את הסרט <span dir="ltr" style="direction: ltr;">12 Angry Men</span>.
</p>

SELECT *
FROM movies
WHERE title LIKE '% 2 %';

### <span style="text-align: right; direction: rtl; float: right; clear: both;">דירוג משוכלל</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    "דירוג משוכלל" הוא הדירוג של סרט, לאחר שמוסיפים לו:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>0.2 נקודות עבור כל 100,000 פעמים שדורג.</li>
    <li>0.01 נקודות עבור כל 10,000 פעמים שדורג.</li>
    <li>0.0005 נקודות עבור כל 1,000 פעמים שדורג.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לדוגמה, סרט שדורג 4.2 על ידי 120,000 מצביעים, ידורג בפועל לפי הנוסחה הבאה:
</p>

$$rating = 4.2 + (0.2 \cdot 1) + (0.01 \cdot 2) + (0.0005 \cdot 0) = 4.420$$

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בהינתן שדירוג יכול לנוע מ־0 ועד 10 נקודות, האם שיטת הדירוג הזו יוצרת סרטים שהדירוג שלהם לא תקין?
</p>

yes!
SELECT *, avg_vote + (votes / 100000) * 0.2 + ((votes - (votes / 100000)) / 10000) * 0.01 + ((votes - ((votes - (votes / 100000)) / 10000)) / 1000) * 0.0005 AS weighted_rating
FROM movies
WHERE avg_vote > 9;
resulted in movies with a 14 weighted rating!

### <span style="text-align: right; direction: rtl; float: right; clear: both;">And the science gets done</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">    
    החזירו את שמותיהם של 3 בעלי תפקידים שעדיין בחיים ולהם לפחות תשעה ילדים.
</p>

SELECT *
FROM names
WHERE children >= 9 and date_of_death is NULL;