<img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/logo.jpg?raw=1" style="display: block; margin-left: auto; margin-right: auto;" alt="לוגו של מיזם לימוד הפייתון. נחש מצויר בצבעי צהוב וכחול, הנע בין האותיות של שם הקורס: לומדים פייתון. הסלוגן המופיע מעל לשם הקורס הוא מיזם חינמי ללימוד תכנות בעברית.">

# <span style="text-align: right; direction: rtl; float: right;">שאילתות לצירוף טבלאות</span>

## <span style="text-align: right; direction: rtl; float: right;">הקדמה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עד כה, הסקנו תובנות ממסד הנתונים שלנו בעזרת שאילתות שהשתמשו כל פעם בנתונים מטבלה אחת.<br>
    השאילתות שבנינו תשאלו טבלה מסוימת, והשתמשו במידע הקיים בה כדי לענות על שאלות מעניינות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשיעור הקודם למדנו על הצורך בביצוע נרמול למסד הנתונים, שמפזר מידע על פני כמה טבלאות.<br>
    מצד אחד, הנרמול מסייע לנו לשמור מידע בצורה חסכונית ויעילה,<br>
    ומצד שני – בשיטה שלמדנו עד כה אי אפשר לתשאל מידע ששמור ביותר מטבלה אחת.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כיוון שבחיים האמיתיים לרוב מסדי הנתונים שנתשאל יהיו (בתקווה) מנורמלים,<br>
    נצטרך למצוא דרך להתייחס למידע שפרוש על פני כמה טבלאות במסד הנתונים שלנו.<br>
    זה מה שנלמד במחברת הקרובה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לפני שנתחיל, ניזכר כיצד נראה מסד הנתונים שעליו אנחנו עובדים:
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/schema_diagram.png?v=2&raw=1" style="width: 800px; margin-right: auto; margin-left: auto; text-align: center;" alt="בתמונה קופסאות שראשיהן צבועים בצבעים שונים. לכל קופסה צבע, כותרת ותוכן. הכותרת מתארת את שם הטבלה במסד הנתונים, והתוכן של הקופסה מורכב משורות – כל שורה מתארת עמודה שקיימת באותה טבלה. בין הקופסאות עוברים קווים המחברים בין עמודה בטבלה אחת לעמודה בטבלה אחרת. כל קו כזה מתאר קשר בין שתי עמודות. ליד חלק מהעמודות יש ציור של מפתח, שמסמל עמודה כעמודה ראשית בטבלה (מפתח ראשי). בכל טבלה לכל היותר סימן אחד של מפתח. ליד כל עמודה גם כתוב הטיפוס שלה – סוג הערכים שהיא יודעת להכיל."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        תרשים שמציג את כל הטבלאות והעמודות במסד הנתונים, כולל את הקשרים ביניהם.<br>
        המינוח המקצועי לתרשים שכזה הוא "תרשים ישויות קשרים" (באנגלית: <abbr title="Entity-relationship diagram">ERD</abbr>).
    </figcaption>
</figure>

## <span style="text-align: right; direction: rtl; float: right;">הקדמה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הצורך שעליו נרצה לענות במחברת הקרובה, כמו שעשינו עד עתה, הוא מציאת תשובות לשאלות.<br>
    במחברת הזו, בניגוד למחברות הקודמות, כל שאלה תתייחס לנתונים שפזורים על פני כמה טבלאות.<br>
    באיזה <var>סרט</var> שיחקו הכי הרבה <var>שחקנים</var>, ואיזה <var>סרט</var> תורגם להכי הרבה <var>שפות</var>?<br>
    אילו שחקנים שיחקו במטריקס, ומה היה הסרט המצליח ביותר בו שיחק ג'ון טרבולטה?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי לענות על השאלות שהוצגו מעלה, נצטרך לתשאל יותר מטבלה אחת בכל פעם.<br>
    דרך מקובלת לעשות זאת היא לצרף כמה טבלאות כך שיוצגו כטבלה אחת עם כל הנתונים שלנו, ולתשאל אותה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשיעור הקרוב נשחק עם הרעיון של צירוף טבלאות.<br>
    בעזרת צירוף טבלאות, נוכל ליצור טבלה אחת שאותה יהיה קל לתשאל.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי להתחיל, נדמיין שתי טבלאות שישמשו לנו לדוגמה.<br>
    אלו יהיו טבלאות פשוטות יחסית: טבלת "<var>צורות</var>" וטבלת "<var>בניינים</var>".
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/join_intro.svg?v=2&raw=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בציור מוצגת בצד שמאל טבלת צורות שרקעה כחול, ובצד ימין טבלת בניינים שרקעה ורדרד. לטבלאות 3 עמודות כל אחת. לטבלת צורות 4 ישויות, ולטבלת בניינים 3 ישויות."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        שתי טבלאות: <var>צורות</var> ו<var>בניינים</var>.
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    המשמעות של הביטוי "צירוף בין הטבלאות" עשויה להיות מעורפלת בשלב הזה.<br>
    הכוונה, במקרה שלנו, היא ליצור טבלה זמנית שבנויה <em>גם</em> מהעמודות של טבלת <var>צורות</var>, ו<em>גם</em> מהעמודות של טבלת <var>בניינים</var>.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    איך זה ייראה?<br>
    ובכן, גם ההגדרה הזו קצת מעורפלת, ובפסקאות הבאות נסקור יותר מדרך אחת לצמד בין הטבלאות.<br>
    לפני שניגש לעשות זאת, נסו לחשוב בעצמכם על כמה דרכים מועילות ליצור טבלה אחת משתי הטבלאות שמופיעות מעלה.
</p>

## <span style="text-align: right; direction: rtl; float: right;">מכפלה קרטזית</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לפני שנתחיל ללמוד על הדרכים המועילות לצמד בין הטבלאות, נלמד על רעיון תיאורטי חשוב.<br>
    הרעיון נקרא "<dfn>מכפלה קרטזית</dfn>", ובהשאלה לטבלאות שלנו – זו דרך מעניינת לצמד בין הישויות בטבלאות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי לבצע מכפלה קרטזית, אנחנו פועלים לפי האלגוריתם הבא:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>בחר את הישות (שורה) הראשונה בטבלה השמאלית שעדיין לא ביצעת עבורה את התהליך שמופיע להלן. נקרא לה <var>X</var>.</li>
    <li>עבור כל ישות בטבלה הימנית, צור ישות חדשה שמורכבת מ־<var>X</var> והישות בטבלה הימנית.</li>
    <li>חזור לסעיף 1, ובצע את התהליך עד שלא ישארו יותר שורות בטבלה השמאלית שעבורן לא ביצענו את התהליך.</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כך נבצע את התהליך עבור הטבלאות <var>בניינים</var> ו<var>צורות</var>:<br>
    לשורה הראשונה, בה כתוב "עיגול", נצמיד את כל הבניינים – עזריאלי 1, עזריאלי 2 והפנטגון, וניצור עבור כל בניין שורה חדשה.<br>
    כך גם עבור המשולש (3 שורות, עבור 3 בניינים), עבור המעוין ועבור הריבוע.<br>
    עבור כל איבר בשמאל, נצמד את כל האיברים בימין.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    התוצאות יראו כך:
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/cross_join.svg?v=6&raw=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בציור מוצגת בצד שמאל טבלת צורות שרקעה כחול, ובצד ימין טבלת בניינים שרקעה ורדרד. לטבלאות 3 עמודות כל אחת. לטבלת צורות 4 ישויות, ולטבלת בניינים 3 ישויות. מכל ישות בטבלת 'צורות' יוצאים שלושה קווים, אחד עבור כל ישות בטבלת 'בניינים'. כל הקווים שיוצאים מהישות הראשונה כתומים, מהשנייה ירוקים, מהשלישית אדומים ומהרביעית סגולים. מתחת לשתי הטבלאות המתוארות ישנה טבלה אחת נוספת, שמציגה את כל השילובים האפשריים בין הישויות של טבלאת 'צורות' עם טבלת 'בניינים'. 3 השילובים הראשונים בנויים מהישות הראשונה של טבלת 'צורות', שצורפה עם כל אחת מהישויות בטבלת 'בניינים'. שלוש הישויות שנוצרו מוקפות בכתום. שלוש הישויות שנמצאות אחריהן בטבלה נבנו מהישות השנייה בטבלה 'צורות' ששולבה עם כל הישויות ב'בנייינים', ומוקפת בירוק. אותו דבר גם עבור הישויות הבאות בטבלת 'צורות'. בטבלה החדשה שנוצרה, העמודות שנלקחו מטבלת 'צורות' צבועות בכחול, ואלו שנלקחו מטבלת 'בניינים' נצבעו בורוד. מטבלת בניינים יורדים אל הטבלה החדשה שני קווים ורודים מקווקווים שתוחמים את העמודות שהגיעו מהטבלה בניינים. מטבלת צורות יורדים אל הטבלה החדשה שני קווים כחולים מקווקווים שתוחמים את העמודות שהגיעו מהטבלה צורות."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        תרשים שמציג את התהליך והתוצאות של מכפלה קרטזית בין טבלת <var>צורות</var> לטבלת <var>בניינים</var>.<br>
    </figcaption>
</figure>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            לפניכם מוגדרות הטבלאות שהובאו כדוגמה.<br>
            נסו לכתוב תוכנית פייתון שמבצעת מכפלה קרטזית בין הטבלאות.
        </p>
    </div>
</div>

In [ ]:
SHAPES = (
    ['◯', 'Circle', 0],
    ['△', 'Triangle', 3],
    ['♢', 'Rhombus', 4],
    ['□', 'Square', 4],
)


BUILDINGS = (
    ['Azrieli 1', 'Circle', 'Derech Menahem Begin 132'],
    ['Azrieli 2', 'Triangle', 'Derech Menahem Begin 132'],
    ['The Pentagon', 'Well, Pentagon',
     'Arlington, Virginia, Washington Blvd 100'],
)

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ב־SQL, נוכל להשיג תוצאה של מכפלה קרטזית בין שתי טבלאות בעזרת <code>CROSS JOIN</code>.<br>
    זה יראה כך (השוו לתוצאות האיור שלמעלה):
</p>

```sql
SELECT *
FROM צורות
    CROSS JOIN בניינים;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מתי השימוש ב־<code>CROSS JOIN</code> יכול להועיל?<br>
    בעיקר כשאנחנו מעוניינים לקבל תובנה על כל השילובים האפשריים של שורות בין שתי טבלאות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם, לדוגמה, אנחנו מנהלים מסעדה, ואנחנו רוצים להציע לאורחים שלנו ארוחת בוקר עסקית.<br>
    תמחור הארוחה ללקוח יהיה 100 ש"ח, כשהארוחה כוללת שתייה, מנה עיקרית ועיתון.<br>
    חשוב לנו לעשות רווח של לפחות 40 שקלים על כל ארוחה כזו שנמכרת.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בתפריט יש לנו 5 אפשרויות לשתייה, 6 אפשרויות למנה עיקרית ו־3 אפשרויות לעיתונים.<br>
    העלות של המוצרים והמנות עבור הבעלים של המסעדה לא אחידה.<br>
    איך נמצא שילובים בעייתיים שלא יניבו רווח של 40 שקלים?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הנתונים מסודרים בטבלאות במסד הנתונים שקיים בקובץ resources/restaurant.db.<br>
    נראה את האפשרויות השונות, והעלות של כל אחת מהן לבעלי המסעדה:
</p>

<div style="display: flex; justify-content: center;">
<table style="display: inline-block; font-size: 1.5rem; margin: 2em;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>drinks</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">id</th>
            <th style="text-align: center;">name</th>
            <th style="text-align: center;">cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">Coffee</td>
            <td style="text-align: left;">10</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">Orange Juice</td>
            <td style="text-align: left;">9</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">Nuka-Cola</td>
            <td style="text-align: left;">14</td>
        </tr>
        <tr>
            <td style="text-align: left;">4</td>
            <td style="text-align: left;">Janx Shot</td>
            <td style="text-align: left;">4.2</td>
        </tr>
        <tr>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">Milk of the Poppy</td>
            <td style="text-align: left;">11</td>
        </tr>
    </tbody>
</table>

<table style="display: inline-block; font-size: 1.5rem; margin: 2em;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>foods</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">id</th>
            <th style="text-align: center;">name</th>
            <th style="text-align: center;">cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">Caesar Salad</td>
            <td style="text-align: left;">36</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">Xiaolongbao</td>
            <td style="text-align: left;">43</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">Krabby Patties</td>
            <td style="text-align: left;">39</td>
        </tr>
        <tr>
            <td style="text-align: left;">4</td>
            <td style="text-align: left;">Butterscotch Cinnamon Pie</td>
            <td style="text-align: left;">40</td>
        </tr>
        <tr>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">Lava Soup</td>
            <td style="text-align: left;">34</td>
        </tr>
        <tr>
            <td style="text-align: left;">6</td>
            <td style="text-align: left;">Lembas</td>
            <td style="text-align: left;">43</td>
        </tr>
    </tbody>
</table>

<table style="display: inline-block; font-size: 1.5rem; margin: 2em;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>newspapers</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">id</th>
            <th style="text-align: center;">name</th>
            <th style="text-align: center;">cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">The Washington Herald</td>
            <td style="text-align: left;">12</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">The Springfield Shopper</td>
            <td style="text-align: left;">8</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">Daily Bugle</td>
            <td style="text-align: left;">9</td>
        </tr>
    </tbody>
</table>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם נצטרף את הטבלאות באמצעות <code>CROSS JOIN</code>, נקבל את כל השילובים שהלקוח יכול לבחור מהתפריט.<br>
    נכתוב זאת כך:
</p>

```sql
SELECT *
FROM drinks
    CROSS JOIN foods
    CROSS JOIN newspapers;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    התוצאות יראו כך:
</p>

<table>
  <tr>
    <th>id</th>
    <th> name </th>
    <th> cost </th>
    <th> id </th>
    <th> name </th>
    <th> cost </th>
    <th> id </th>
    <th> name </th>
    <th> cost </th>
    <th> total_cost </th>
  </tr> <tr class="odd">
    <td> 1 </td>
    <td> Coffee </td>
    <td> 10 </td>
    <td> 1 </td>
    <td> Caesar Salad </td>
    <td> 36 </td>
    <td> 1 </td>
    <td> The Washington Herald </td>
    <td> 12 </td>
    <td> 58 </td>
  </tr>
  <tr>
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>54</td>
  </tr>
  <tr class="odd">
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>55</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>65</td>
  </tr>
  <tr class="odd">
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>61</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>62</td>
  </tr>
  <tr class="odd">
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>61</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>57</td>
  </tr>
  <tr class="odd">
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>58</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>62</td>
  </tr>
  <tr class="odd">
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>58</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>59</td>
  </tr>
  <tr class="odd">
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>56</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>52</td>
  </tr>
  <tr class="odd">
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>53</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>65</td>
  </tr>
  <tr class="odd">
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>61</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Coffee</td>
    <td>10</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>62</td>
  </tr>
  <tr class="odd">
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>57</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>53</td>
  </tr>
  <tr class="odd">
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>54</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>64</td>
  </tr>
  <tr class="odd">
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>60</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>61</td>
  </tr>
  <tr class="odd">
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>60</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>56</td>
  </tr>
  <tr class="odd">
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>57</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>61</td>
  </tr>
  <tr class="odd">
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>57</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>58</td>
  </tr>
  <tr class="odd">
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>55</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>51</td>
  </tr>
  <tr class="odd">
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>52</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>64</td>
  </tr>
  <tr class="odd">
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>60</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Orange Juice</td>
    <td>9</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>61</td>
  </tr>
  <tr class="odd">
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>62</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>58</td>
  </tr>
  <tr class="odd">
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>59</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>69</td>
  </tr>
  <tr class="odd">
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>65</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>66</td>
  </tr>
  <tr class="odd">
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>65</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>61</td>
  </tr>
  <tr class="odd">
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>62</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>66</td>
  </tr>
  <tr class="odd">
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>62</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>63</td>
  </tr>
  <tr class="odd">
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>60</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>56</td>
  </tr>
  <tr class="odd">
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>57</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>69</td>
  </tr>
  <tr class="odd">
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>65</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nuka-Cola</td>
    <td>14</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>66</td>
  </tr>
  <tr class="odd">
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>52.2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>48.2</td>
  </tr>
  <tr class="odd">
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>49.2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>59.2</td>
  </tr>
  <tr class="odd">
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>55.2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>56.2</td>
  </tr>
  <tr class="odd">
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>55.2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>51.2</td>
  </tr>
  <tr class="odd">
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>52.2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>56.2</td>
  </tr>
  <tr class="odd">
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>52.2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>53.2</td>
  </tr>
  <tr class="odd">
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>50.2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>46.2</td>
  </tr>
  <tr class="odd">
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>47.2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>59.2</td>
  </tr>
  <tr class="odd">
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>55.2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Janx Shot</td>
    <td>4.2</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>56.2</td>
  </tr>
  <tr class="odd">
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>59</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>55</td>
  </tr>
  <tr class="odd">
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>1</td>
    <td>Caesar Salad</td>
    <td>36</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>56</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>66</td>
  </tr>
  <tr class="odd">
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>62</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>2</td>
    <td>Xiaolongbao</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>63</td>
  </tr>
  <tr class="odd">
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>62</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>58</td>
  </tr>
  <tr class="odd">
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>3</td>
    <td>Krabby Patties</td>
    <td>39</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>59</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>63</td>
  </tr>
  <tr class="odd">
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>59</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>4</td>
    <td>Butterscotch Cinnamon Pie</td>
    <td>40</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>60</td>
  </tr>
  <tr class="odd">
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>57</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>53</td>
  </tr>
  <tr class="odd">
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>5</td>
    <td>Lava Soup</td>
    <td>34</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>54</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>1</td>
    <td>The Washington Herald</td>
    <td>12</td>
    <td>66</td>
  </tr>
  <tr class="odd">
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>2</td>
    <td>The Springfield Shopper</td>
    <td>8</td>
    <td>62</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Milk of the Poppy</td>
    <td>11</td>
    <td>6</td>
    <td>Lembas</td>
    <td>43</td>
    <td>3</td>
    <td>Daily Bugle</td>
    <td>9</td>
    <td>63</td>
  </tr>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    חדי העין שמו לב שהוספנו לתוצאות עמודה נוספת בשם <var>total_cost</var> – עלות הארוחה לבעלי המסעדה.<br>
    זו השאילתה שבה השתמשנו כדי להשיג את העלות הזו:
</p>

```sql
SELECT *,
       drinks.cost + foods.cost + newspapers.cost AS total_cost
FROM drinks
    CROSS JOIN foods
    CROSS JOIN newspapers;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שימו לב לצורת ההתייחסות לעמודות בעזרת הנקודה.<br>
    מסד הנתונים לא יכול לדעת לאיזה עמודת <var>cost</var> אנחנו מתייחסים בכל פעם.<br>
    לכן ציינו במפורש לפני כל שם עמודה את הטבלה ממנה היא מגיעה, בצורה <code>table_name.column_name</code>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נראה, אם כך, שיש לא מעט מנות שהרווח עליהן הוא פחות מ־40 שקלים.<br>
    נוכל לראות את כמות השילובים ההפסדיים בעזרת השאילתה הבאה:
</p>

```sql
SELECT COUNT(*)
FROM drinks
    CROSS JOIN foods
    CROSS JOIN newspapers
WHERE drinks.cost + foods.cost + newspapers.cost + 40 > 100;
```

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            מה הרווח הנמוך ביותר שבעל המסעדה יעשה על ארוחה עסקית, אם הלקוח יבחר את המוצרים היקרים ביותר?<br>
            כתבו שאילתה אחת שעונה על השאלה.
        </p>
    </div>
</div>

SELECT 100 - (drinks.cost + foods.cost + newspapers.cost)
FROM drinks
    CROSS JOIN foods
    CROSS JOIN newspapers
WHERE drinks.cost + foods.cost + newspapers.cost + 40 > 100
ORDER BY 100 - ( drinks.cost + foods.cost + newspapers.cost)

31

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אחרי שהשתעשענו, נספר בלחישה של־<code>CROSS JOIN</code> יש מעט מאוד שימושים בעולם האמיתי.<br>
    השימוש העיקרי בו, עבורנו לפחות, הוא ללמד אתכם על <code>INNER JOIN</code> בקלות.
</p>

## <span style="text-align: right; direction: rtl; float: right;">INNER JOIN</span>

### <span style="text-align: right; direction: rtl; float: right;">המטרה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    השימוש ב־<code>CROSS JOIN</code> יצר כמות עצומה של תוצאות.<br>
    עבור 4 טבלאות שבכל אחת מהן יש 100 רשומות, <code>CROSS JOIN</code> יחזיר 100,000,000 רשומות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    רוב הפעמים, אנחנו לא צריכים את <em>כל</em> השילובים בין עמודות – אלא רק שילובים שיועילו לנו.<br>
    אם נביט שוב בטבלאות הדוגמה שלנו, נגלה עמודה שמשותפת לשתי הטבלאות:
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/inner_join_intro.svg?v=2&raw=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בציור מוצגת בצד שמאל טבלת צורות שרקעה כחול, ובצד ימין טבלת בניינים שרקעה ורדרד. לטבלאות 3 עמודות כל אחת. לטבלת צורות 4 ישויות, ולטבלת בניינים 3 ישויות. העמודה 'שם' בטבלה 'צורות' והעמודה 'צורה' בטבלה 'בניינים' מוקפות במסגרת מקווקוות."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        טבלאות הדוגמה – <var>צורות</var> ו<var>בניינים</var>. בשתיהן יש עמודה שמציינת את הצורה באופן מילולי.
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נרצה ליצור טבלה חדשה – צירוף של הטבלה <var>צורות</var> עם הטבלה <var>בניינים</var>.<br>
    נתחיל בלבצע מכפלה קרטזית בין הטבלאות,<br>
    ואז נסיר את כל השורות שבהן העמודה <var>שם</var> שבטבלת <var>צורות</var> והעמודה <var>צורה</var> שבטבלת <var>בניינים</var> לא תואמות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כלומר, מתוצאות המכפלה הקרטזית נבחר רק את השורות שבהן הצורה בשתי הטבלאות זהה.<br>
    נראה תוצאה לדוגמה:
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/inner_join.svg?v=2&raw=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בציור מוצגת בצד שמאל טבלת צורות שרקעה כחול, ובצד ימין טבלת בניינים שרקעה ורדרד. לטבלאות 3 עמודות כל אחת. לטבלת צורות 4 ישויות, ולטבלת בניינים 3 ישויות. מהטבלה השמאלית יוצאים אל הטבלה הימנית שני חצים: ירוק, מן השורה 'משולש' אל השורה 'עזריאלי 1' בטבלת בניינים, שצורתו היא משולשת, וסגול, מן השורה 'ריבוע' אל השורה 'עזריאלי 2' בטבלת בניינים, שצורתו היא ריבוע. בטבלה תחתונה מוצגות שתי שורות שנוצרו מצירוף העמודות של שתי הטבלאות. העמודות של הטבלה הימנית מופיעות בצד ימין בוורוד, ואילו אלו של הטבלה השמאלית מופיעות בצד שמאל בכחול. השורה שנוצרה מהצירוף של החץ הסגול מוקפת בסגול, והשורה שנוצרה מהצירוף שבעקבות החץ הירוק מוקפת בירוק."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        דוגמה לצירוף טבלאות במקומות שבהן יש ערך זהה בעמודות הנבחרות.
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בתוצאות של הטבלה החדשה שנוצרה הושמטו שורות רבות:<br>
    תחילה, הושמטו כל השורות מטבלת <var>צורות</var> שאין להן שורות עם צורה תואמת בטבלת <var>בניינים</var>.<br>
    באותו אופן, הושמטו גם השורות מטבלת <var>בניינים</var> עבורן אין צורה עם שם תואם בטבלת <var>צורות</var>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    פרט חשוב במיוחד הוא שעבור כל שורה יכולה להיות יותר מהתאמה אחת.<br>
    לדוגמה, אם נוסיף לטבלת "<var>בניינים</var>" עוד בניין שצורתו ריבוע,<br>
    התוצאות יכללו שני בניינים שצורתם "ריבוע" בטבלת התוצאות – <em>גם</em> את הבניין שהוספנו, ו<em>גם</em> את הבניין שהיה שם:
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/inner_join2.svg?v=1&raw=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בציור מוצגת בצד שמאל טבלת צורות שרקעה כחול, ובצד ימין טבלת בניינים שרקעה ורדרד. לטבלאות 3 עמודות ו־4 ישויות כל אחת. מהטבלה השמאלית יוצאים אל הטבלה הימנית שלושה חצים: ירוק, מן השורה 'משולש' אל השורה 'עזריאלי 1' בטבלת בניינים, שצורתו היא משולשת, ו־2 סגולים, מן השורה 'ריבוע' אל השורות 'עזריאלי 2' ו'הבית של שרלוק' בטבלת בניינים, שצורתם היא ריבוע. בטבלה תחתונה מוצגות שלוש שורות שנוצרו מצירוף העמודות של שתי הטבלאות. העמודות של הטבלה הימנית מופיעות בצד ימין בוורוד, ואילו אלו של הטבלה השמאלית מופיעות בצד שמאל בכחול. השורות שנוצרה מהצירוף של החץ הסגול מוקפות בסגול, והשורה שנוצרה מהצירוף שבעקבות החץ הירוק מוקפת בירוק."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ייתכן מצב בו שורה מאחת הטבלאות תתאים ליותר משורה אחת בטבלה השנייה.
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם היינו מוסיפים לטבלת <var>צורות</var>, סתם בשביל הניסוי, שורה נוספת ששמה "ריבוע" עם תמונה של קרוקודיל,<br>
    היינו מקבלים שתי שורות נוספות עם תמונת קרוקודיל בטבלת התוצאות – אחת עבור עזריאלי 2 ואחת עבור הבית של שרלוק.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסכם:<br>
    בסוג החדש הזה של צירוף בין טבלאות, לקחנו את המכפלה הקרטזית בין שתי הטבלאות.<br>
    לפני שהחזרנו את התוצאות, הסתכלנו על עמודה מסוימת מכל אחת מהטבלאות, והגדרנו את הקשר שאנחנו מחפשים שיהיה ביניהן.<br>
    רשומות שלא קיימו את הקשר שהגדרנו לא הופיעו כתוצאה.
</p>

### <span style="text-align: right; direction: rtl; float: right;">התחביר</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הצורה הזו לחיבור טבלאות, בה אנחנו מסננים את כל השורות שלא מתאימות לתנאי שלנו, נקראת <code>INNER JOIN</code>.<br>
    היא ככל הנראה צורת ה־<code>JOIN</code> השימושית ביותר שנלמד.<br>
    מבחינה תחבירית היא נראית כך:
</p>

```sql
SELECT *
FROM צורות
    INNER JOIN בניינים
    ON בניינים.צורה = צורות.שם;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בניגוד ל־<code>CROSS JOIN</code>, בה פשוט ביקשנו להצליב בין שתי טבלאות,<br>
    כאן אנחנו מצרפים את מילת המפתח <code>ON</code>, שעובדת פחות או יותר כמו פסוקית <code>WHERE</code>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אפשר לדמיין את מה שקורה מאחורי הקלעים בצורה הבאה:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>בצע מכפלה קרטזית (<code>CROSS JOIN</code>) בין שתי הטבלאות.</li>
    <li>מהתוצאות, אסוף רק את השורות בהן הערך בעמודה <var>שם</var> שבטבלת <var>צורות</var> זהה לערך בעמודה <var>צורה</var> שבטבלת <var>בניינים</var>.</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הביטו שוב באיור שלמעלה וודאו שאתם מבינים איך <code>INNER JOIN</code> עובד.
</p>

### <span style="text-align: right; direction: rtl; float: right;">דוגמאות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי להבין את הפוטנציאל המשוגע שגלום ב־<code>INNER JOIN</code>,<br>
    ננסה להבין אילו בעלי תפקידים השתתפו בסרט "The Lego Movie".<br>
    לצורך כך נצרף את טבלת <var>principals</var> לטבלת <var>movies</var>:
</p>

```sql
SELECT *
FROM movies
    INNER JOIN principals
    ON movies.id = principals.movie_id
WHERE movies.original_title = 'The Lego Movie';
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מה עשינו כאן?<br>
    ביקשנו לצרף ליד כל שורה בטבלת <var>movies</var> שורה מטבלת <var>principals</var>,<br>
    בכל מקום שבו ה־<var>movie_id</var> שלהם תואם.<br>
    מתוך התוצאות, שלפנו רק את השורות שבהן שם הסרט הוא "The Lego Movie".
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לפניכם תוצאות השאילתה:
</p>

<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>original_title</th>
        <th>year</th>
        <th>avg_vote</th>
        <th>votes</th>
        <th>duration</th>
        <th>budget</th>
        <th>gross_income</th>
        <th>movie_id</th>
        <th>ordering</th>
        <th>name_id</th>
        <th>job_id</th>
        <th>characters</th>
    </tr>
    <tr class="odd">
        <td>tt1490017</td>
        <td>The Lego Movie</td>
        <td>The Lego Movie</td>
        <td>2,014</td>
        <td>7.7</td>
        <td>319,327</td>
        <td>100</td>
        <td>\$ 60000000</td>
        <td>\$ 468060692</td>
        <td>tt1490017</td>
        <td>1</td>
        <td>nm0695435</td>
        <td>2</td>
        <td>Emmet Brickowski</td>
    </tr>
    <tr><td>tt1490017</td><td>The Lego Movie</td><td>The Lego Movie</td><td>2,014</td><td>7.7</td><td>319,327</td><td>100</td><td>\$ 60000000</td><td>\$ 468060692</td><td>tt1490017</td><td>10</td><td>nm9204084</td><td>7</td><td>&nbsp;</td></tr>
    <tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>The Lego Movie</td><td>2,014</td><td>7.7</td><td>319,327</td><td>100</td><td>\$ 60000000</td><td>\$ 468060692</td><td>tt1490017</td><td>2</td><td>nm0002071</td><td>2</td><td>Lord Business,President Business,The Man Upstairs</td></tr>
    <tr><td>tt1490017</td><td>The Lego Movie</td><td>The Lego Movie</td><td>2,014</td><td>7.7</td><td>319,327</td><td>100</td><td>\$ 60000000</td><td>\$ 468060692</td><td>tt1490017</td><td>3</td><td>nm0006969</td><td>1</td><td>Wyldstyle,Lucy</td></tr>
    <tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>The Lego Movie</td><td>2,014</td><td>7.7</td><td>319,327</td><td>100</td><td>\$ 60000000</td><td>\$ 468060692</td><td>tt1490017</td><td>4</td><td>nm0004715</td><td>2</td><td>Batman,Bruce Wayne</td></tr>
    <tr><td>tt1490017</td><td>The Lego Movie</td><td>The Lego Movie</td><td>2,014</td><td>7.7</td><td>319,327</td><td>100</td><td>\$ 60000000</td><td>\$ 468060692</td><td>tt1490017</td><td>5</td><td>nm0588087</td><td>3</td><td>&nbsp;</td></tr>
    <tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>The Lego Movie</td><td>2,014</td><td>7.7</td><td>319,327</td><td>100</td><td>\$ 60000000</td><td>\$ 468060692</td><td>tt1490017</td><td>6</td><td>nm0520488</td><td>3</td><td>&nbsp;</td></tr>
    <tr><td>tt1490017</td><td>The Lego Movie</td><td>The Lego Movie</td><td>2,014</td><td>7.7</td><td>319,327</td><td>100</td><td>\$ 60000000</td><td>\$ 468060692</td><td>tt1490017</td><td>7</td><td>nm1087952</td><td>7</td><td>&nbsp;</td></tr>
    <tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>The Lego Movie</td><td>2,014</td><td>7.7</td><td>319,327</td><td>100</td><td>\$ 60000000</td><td>\$ 468060692</td><td>tt1490017</td><td>8</td><td>nm1156984</td><td>7</td><td>&nbsp;</td></tr>
    <tr><td>tt1490017</td><td>The Lego Movie</td><td>The Lego Movie</td><td>2,014</td><td>7.7</td><td>319,327</td><td>100</td><td>\$ 60000000</td><td>\$ 468060692</td><td>tt1490017</td><td>9</td><td>nm9204083</td><td>7</td><td>&nbsp;</td></tr>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    פסוקית ה־<code>JOIN</code> תתבצע תמיד ישירות אחרי פסוקית ה־<code>FROM</code>,<br>
    כך שמדובר בשאילתה רגילה לכל דבר, רק שהרחבנו קצת את הטבלה שעליה אנחנו שולפים.<br>
    עכשיו נוכל לספור כמה בעלי תפקידים היו בסרט באמצעות <code>COUNT</code>, כרגיל:
</p>

```sql
SELECT COUNT(*) AS lego_movie_principals
FROM movies
    INNER JOIN principals
    ON movies.id = principals.movie_id
WHERE movies.original_title = 'The Lego Movie';
```

### <span style="text-align: right; direction: rtl; float: right;">תעלול נחמד</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    זה הזמן ללמוד תעלול נחמד.<br>
    בשיעורים הקודמים השתמשנו במילת המפתח <code>AS</code> כדי לערוך את שמן של עמודות.<br>
    רבים משתמשים באותה שיטה כדי לקצר את שמות הטבלאות שלהם, ולהפוך את השאילתה לנוחה יותר לעין.<br>
    אפשר לנקוט באותה צורה גם פה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">    
    נדגים דרך קצרה אפילו יותר – פשוט נרשום את השם המקוצר אחרי שם הטבלה.<br>
    זה נראה כך:
</p>

```sql
SELECT *
FROM movies m
    INNER JOIN principals p
    ON m.id = p.movie_id
WHERE m.original_title = 'The Lego Movie';
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    יש לא מעט אנשים שמעדיפים להשאיר את מילת המפתח <code>AS</code> בקוד.<br>
    לשיטתם, צורת הכתיבה הזו נקייה יותר ומאפשרת להפריד חזותית בין שם הטבלה לבין הקיצור שמייצג אותה.<br>
    אנחנו בחרנו להשאיר את מילת המפתח <code>AS</code> בהמשך ההסברים.
</p>

### <span style="text-align: right; direction: rtl; float: right;">צירוף טבלאות מרובות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ננסה להציג את שמות כל בעלי התפקידים ב־The Lego Movie.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כשחושבים על זה? אתם מסוגלים לעשות את זה לבד.<br>
    (אהמ... רמז... כותרת...)
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            הציגו את שמות כל בעלי התפקידים ב־The Lego Movie.<br>
            ליד שמם, הציגו מה היה התפקיד שלהם.
        </p>
    </div>
    <div style="display: flex; width: 20%; border-right: 0.1rem solid #A5A5A5; padding: 1rem 2rem;">
        <p style="text-align: center; direction: rtl; justify-content: center; align-items: center; clear: both;">
            <strong>חשוב!</strong><br>
            פתרו לפני שתמשיכו!
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    קודם כול, ננקה את השאילתה ונצמצם שדות לא מועילים.<br>
    נציין בפסוקית ה־<code>SELECT</code> רק את העמודות שעשויות להועיל לנו, בינתיים:
</p>

```sql
SELECT m.id, m.original_title, p.name_id, p.job_id, p."characters"
FROM movies AS m
    INNER JOIN principals AS p
    ON m.id = p.movie_id
WHERE m.original_title = 'The Lego Movie';
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ונקבל את התוצאה הסתומה הבאה:
</p>

<table>
<tr><th>id</th><th>original_title</th><th>name_id</th><th>job_id</th><th>characters</th></tr><tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0695435</td><td>2</td><td>Emmet Brickowski</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm9204084</td><td>7</td><td>&nbsp;</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0002071</td><td>2</td><td>Lord Business,President Business,The Man Upstairs</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm0006969</td><td>1</td><td>Wyldstyle,Lucy</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0004715</td><td>2</td><td>Batman,Bruce Wayne</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm0588087</td><td>3</td><td>&nbsp;</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0520488</td><td>3</td><td>&nbsp;</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm1087952</td><td>7</td><td>&nbsp;</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm1156984</td><td>7</td><td>&nbsp;</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm9204083</td><td>7</td><td>&nbsp;</td></tr>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בתוצאה אנחנו רואים את כל השחקנים ששיחקו ב־The Lego Movie ואת תפקידיהם.<br>
    העניין הוא שהטבלה נורמלה, כך שהשם האמיתי והשם המילולי של העבודה מופיעים בטבלאות אחרות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בתוצאה הזו נראה שיש לנו את המספרים הסידוריים של שם בעל התפקיד וסוג העבודה שהוא מבצע.<br>
    ניגש למלאכה של חילוץ "הערכים האמיתיים" של כל אחד מהם.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ראשית נטפל בעמודה <var>job_id</var>.<br>
    לפי ה־ERD, נוכל לראות שהיא מפתח זר למפתח הראשי <var>id</var> בטבלת <var>jobs</var>.<br>
    נצרף את הטבלאות אחת לשנייה בעזרת <code>INNER JOIN</code>, ונוסיף ל־<code>SELECT</code> את השדות שצורפו מטבלת <var>jobs</var>.
</p>

```sql
SELECT m.id, m.original_title, p.name_id, p.job_id, p."characters", j.id, j.name
FROM movies AS m
    INNER JOIN principals AS p
    ON m.id = p.movie_id
    INNER JOIN jobs AS j
    ON p.job_id = j.id
WHERE m.original_title = 'The Lego Movie';
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שימו לב שלא חידשנו פה שום דבר הנוגע ל־<code>JOIN</code> – פשוט צירפנו עוד טבלה לחגיגה.<br>
    אחרי שהשגנו את <var>job_id</var> מטבלת <var>principals</var>, התבקש ממש שנשתמש בו אל מול טבלת <var>jobs</var>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שימו לב שבפסוקית ה־<var>SELECT</var> ביקשנו להציג את כל השדות של <var>jobs</var>.<br>
    ביטוי מקוצר נחמד שישיג תוצאה זהה הוא <code dir="ltr" style="direction: ltr;">j.*</code>, שמסמל את כל העמודות הקיימות בטבלה <code>j</code>.<br>
    נדגים:
</p>

```sql
SELECT m.id, m.original_title, p.name_id, p.job_id, p."characters", j.*
[...]
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    התוצאות שחזרו הן:
</p>

<table><tr><th>id</th><th>original_title</th><th>name_id</th><th>job_id</th><th>characters</th><th>id</th><th>name</th></tr><tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0695435</td><td>2</td><td>Emmet Brickowski</td><td>2</td><td>actor</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm0002071</td><td>2</td><td>Lord Business,President Business,The Man Upstairs</td><td>2</td><td>actor</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0006969</td><td>1</td><td>Wyldstyle,Lucy</td><td>1</td><td>actress</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm0004715</td><td>2</td><td>Batman,Bruce Wayne</td><td>2</td><td>actor</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0588087</td><td>3</td><td>&nbsp;</td><td>3</td><td>director</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm0520488</td><td>3</td><td>&nbsp;</td><td>3</td><td>director</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm1087952</td><td>7</td><td>&nbsp;</td><td>7</td><td>writer</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm1156984</td><td>7</td><td>&nbsp;</td><td>7</td><td>writer</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm9204083</td><td>7</td><td>&nbsp;</td><td>7</td><td>writer</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm9204084</td><td>7</td><td>&nbsp;</td><td>7</td><td>writer</td></tr>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מצוין!<br>
    בטבלה שלמעלה אנחנו רואים מה היה תפקידם של אותם בעלי תפקידים מפורסמים שעזרו ביצירה של The Lego Movie.<br>
    עכשיו נחשוף שמותיהם של אותם בעלי תפקידים מ־<var>names</var>, באותה צורה שבה עשינו זאת עם <var>jobs</var>.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            נסו לצרף לשאילתה הנוכחית את שמות בעלי התפקידים שסייעו בהפקת The Lego Movie.
        </p>
    </div>
    <div style="display: flex; width: 20%; border-right: 0.1rem solid #A5A5A5; padding: 1rem 2rem;">
        <p style="text-align: center; direction: rtl; justify-content: center; align-items: center; clear: both;">
            <strong>חשוב!</strong><br>
            פתרו לפני שתמשיכו!
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בצירוף של טבלת <var>names</var> אין שום חידוש.<br>
    נעשה בדיוק מה שעשינו עם טבלת <var>jobs</var>, רק שהפעם נשתמש בפרטים של טבלת <var>names</var>.<br>
    נחבר את הטבלאות לפי העמודות <var>principals.name_id</var> ו־<var>names.id</var>:
</p>

```sql
SELECT m.id, m.original_title, p.name_id, p.job_id, p."characters", j.*, n.*
FROM movies AS m
    INNER JOIN principals AS p
    ON m.id = p.movie_id
    INNER JOIN jobs AS j
    ON p.job_id = j.id
    INNER JOIN names AS n
    ON p.name_id = n.id
WHERE m.original_title = 'The Lego Movie';
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    והנה התוצאות:
</p>

<table><tr><th>id</th><th>original_title</th><th>name_id</th><th>job_id</th><th>characters</th><th>id</th><th>name</th><th>id</th><th>name</th><th>height</th><th>date_of_birth</th><th>date_of_death</th><th>children</th></tr><tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0695435</td><td>2</td><td>Emmet Brickowski</td><td>2</td><td>actor</td><td>nm0695435</td><td>Chris Pratt</td><td>188</td><td>1979-06-21 00:00:00.000000</td><td>&nbsp;</td><td>2</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm0002071</td><td>2</td><td>Lord Business,President Business,The Man Upstairs</td><td>2</td><td>actor</td><td>nm0002071</td><td>Will Ferrell</td><td>191</td><td>1967-07-16 00:00:00.000000</td><td>&nbsp;</td><td>3</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0006969</td><td>1</td><td>Wyldstyle,Lucy</td><td>1</td><td>actress</td><td>nm0006969</td><td>Elizabeth Banks</td><td>164</td><td>1974-02-10 00:00:00.000000</td><td>&nbsp;</td><td>2</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm0004715</td><td>2</td><td>Batman,Bruce Wayne</td><td>2</td><td>actor</td><td>nm0004715</td><td>Will Arnett</td><td>189</td><td>1970-05-04 00:00:00.000000</td><td>&nbsp;</td><td>2</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm0588087</td><td>3</td><td>&nbsp;</td><td>3</td><td>director</td><td>nm0588087</td><td>Christopher Miller</td><td>180</td><td>1975-09-23 00:00:00.000000</td><td>&nbsp;</td><td>1</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm0520488</td><td>3</td><td>&nbsp;</td><td>3</td><td>director</td><td>nm0520488</td><td>Phil Lord</td><td>177</td><td>1975-07-12 00:00:00.000000</td><td>&nbsp;</td><td>0</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm1087952</td><td>7</td><td>&nbsp;</td><td>7</td><td>writer</td><td>nm1087952</td><td>Dan Hageman</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>0</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm1156984</td><td>7</td><td>&nbsp;</td><td>7</td><td>writer</td><td>nm1156984</td><td>Kevin Hageman</td><td>&nbsp;</td><td>1974-04-21 00:00:00.000000</td><td>&nbsp;</td><td>0</td></tr>
<tr class="odd"><td>tt1490017</td><td>The Lego Movie</td><td>nm9204083</td><td>7</td><td>&nbsp;</td><td>7</td><td>writer</td><td>nm9204083</td><td>Ole Kirk Christiansen</td><td>&nbsp;</td><td>1891-04-01 00:00:00.000000</td><td>1958-03-11 00:00:00.000000</td><td>0</td></tr>
<tr><td>tt1490017</td><td>The Lego Movie</td><td>nm9204084</td><td>7</td><td>&nbsp;</td><td>7</td><td>writer</td><td>nm9204084</td><td>Godtfred Kirk Christiansen</td><td>&nbsp;</td><td>1920-07-08 00:00:00.000000</td><td>1995-07-13 00:00:00.000000</td><td>0</td></tr>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ננקה שדות לא נחוצים כדי לקבל בדיוק את מה שרצינו, בלי נתונים שמפריעים בעין:
</p>

```sql
SELECT m.original_title as movie_name,
	   n.name as principal_name,
	   j.name as job,
	   p."characters"
FROM movies AS m
    INNER JOIN principals AS p
    ON m.id = p.movie_id
    INNER JOIN jobs AS j
    ON p.job_id = j.id
    INNER JOIN names AS n
    ON p.name_id = n.id
WHERE m.original_title = 'The Lego Movie';
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    והנה התוצאות במלוא תפארתן:
</p>

<table>
<tr><th>movie_name</th><th>principal_name</th><th>job</th><th>characters</th></tr><tr class="odd"><td>The Lego Movie</td><td>Chris Pratt</td><td>actor</td><td>Emmet Brickowski</td></tr>
<tr><td>The Lego Movie</td><td>Will Ferrell</td><td>actor</td><td>Lord Business,President Business,The Man Upstairs</td></tr>
<tr class="odd"><td>The Lego Movie</td><td>Elizabeth Banks</td><td>actress</td><td>Wyldstyle,Lucy</td></tr>
<tr><td>The Lego Movie</td><td>Will Arnett</td><td>actor</td><td>Batman,Bruce Wayne</td></tr>
<tr class="odd"><td>The Lego Movie</td><td>Christopher Miller</td><td>director</td><td>&nbsp;</td></tr>
<tr><td>The Lego Movie</td><td>Phil Lord</td><td>director</td><td>&nbsp;</td></tr>
<tr class="odd"><td>The Lego Movie</td><td>Dan Hageman</td><td>writer</td><td>&nbsp;</td></tr>
<tr><td>The Lego Movie</td><td>Kevin Hageman</td><td>writer</td><td>&nbsp;</td></tr>
<tr class="odd"><td>The Lego Movie</td><td>Ole Kirk Christiansen</td><td>writer</td><td>&nbsp;</td></tr>
<tr><td>The Lego Movie</td><td>Godtfred Kirk Christiansen</td><td>writer</td><td>&nbsp;</td></tr>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כיוון ש־<code>INNER JOIN</code> היא צורת <code>JOIN</code> כה שימושית,<br>
    ברירת המחדל במסדי נתונים היא שאם כותבים פשוט <code>JOIN</code> הכוונה היא ל־<code>INNER JOIN</code>.<br>
    לכן, אפשר להשמיט את המילה <code>INNER</code> מהשאילתה האחרונה, ולקבל שאילתה ששקולה לה:
</p>

```sql
SELECT m.original_title as movie_name,
	   n.name as principal_name,
	   j.name as job,
	   p."characters"
FROM movies AS m
    JOIN principals AS p
    ON m.id = p.movie_id
    JOIN jobs AS j
    ON p.job_id = j.id
    JOIN names AS n
    ON p.name_id = n.id
WHERE m.original_title = 'The Lego Movie';
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בדומה למילת המפתח <code>AS</code>, רבים מחליטים דווקא להשאיר את המילה <code>INNER</code> לשם הַקְּרִיאוּת של השיאלתה.<br>
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל ביניים: זו ציפור? זה אריה? לא, זה בוקיצה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הציגו את 3 המדינות שבהן הופקו הכי הרבה סרטים מאז שנת 2000.<br>
    לצד כל מדינה, הציגו כמה סרטים הופקו בה.
</p>

SELECT countries.name, COUNT(*) as num_movies
FROM movies
JOIN movie_countries ON movies.id = movie_countries.movie_id
JOIN countries ON movie_countries.country_id = countries.id
WHERE movies.year >= 2000
GROUP BY countries.name
ORDER BY num_movies DESC
LIMIT 3;


USA	16383
India	4699
France	4546

## <span style="text-align: right; direction: rtl; float: right;">OUTER JOIN</span>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">הבעיה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כפי שלמדנו בתחילת ההדגמה על <code>INNER JOIN</code>,<br>
    בתוצאות מוצגות <em>רק</em> שורות שהתנאי שכתוב ב־<code>ON</code> מתקיים עבורן.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כלומר, בשאילתה:
</p>

```sql
SELECT *
FROM צורות
    INNER JOIN בניינים
    ON בניינים.צורה = צורות.שם;
```

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>נביט בערכים שבטבלת <var>צורות</var> בעמודה <var>שם</var> – נקרא להם "<dfn>ערכי הטבלה השמאלית</dfn>".</li>
    <li>נביט בערכים שבטבלת <var>בניינים</var> בעמודה <var>צורה</var> – נקרא להם "<dfn>ערכי הטבלה הימנית</dfn>".</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    התוצאות יכללו <em>רק</em> ישויות שהערך שלהם נמצא <em>גם</em> בערכי הטבלה השמאלית, ו<em>גם</em> בערכי הטבלה הימנית.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שימו לב איך בתמונה הבאה הפנטגון לא נכנס לתוצאות.<br>
    הוא נמצא בטבלה הימנית, אך הערך בעמודה שעליה עשינו <code>ON</code> ("מחומש") לא נמצא בערכי הטבלה השמאלית.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    באותה מידה, מעוין ועיגול, שהם ערכים מהטבלה השמאלית, לא נכנסו לתוצאות.<br>
    זה המצב כיוון שאין לישויות הללו ערך תואם בטבלה הימנית.
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/inner_join2.svg?v=1&raw=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בציור מוצגת בצד שמאל טבלת צורות שרקעה כחול, ובצד ימין טבלת בניינים שרקעה ורדרד. לטבלאות 3 עמודות ו־4 ישויות כל אחת. מהטבלה השמאלית יוצאים אל הטבלה הימנית שלושה חצים: ירוק, מן השורה 'משולש' אל השורה 'עזריאלי 1' בטבלת בניינים, שצורתו היא משולשת, ו־2 סגולים, מן השורה 'ריבוע' אל השורות 'עזריאלי 2' ו'הבית של שרלוק' בטבלת בניינים, שצורתם היא ריבוע. בטבלה תחתונה מוצגות שלוש שורות שנוצרו מצירוף העמודות של שתי הטבלאות. העמודות של הטבלה הימנית מופיעות בצד ימין בוורוד, ואילו אלו של הטבלה השמאלית מופיעות בצד שמאל בכחול. השורות שנוצרה מהצירוף של החץ הסגול מוקפות בסגול, והשורה שנוצרה מהצירוף שבעקבות החץ הירוק מוקפת בירוק."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ב־<code>INNER JOIN</code> אנחנו מוותרים על כל הישויות שלא מקיימות את השוויון שכתוב ב־<code>ON</code>.
    </figcaption>
</figure>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">הצורך</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לפעמים נוצרים מצבים שבהם אנחנו רוצים לבצע <code>JOIN</code> בין טבלאות,<br>
    אבל לא להחסיר מהתוצאות ישות שקיימת בטבלה א אם אין לה ישות תואמת בטבלה ב.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נניח שחשבנו על העניין לעומק, והגענו למסקנה שאנחנו מספיק כשרוניים כדי להחליט לבד כמה צלעות יש במחומש.<br>
    כלומר, זה יהיה נחמד מאוד אם המידע מטבלת <var>צורות</var> יוצג לנו,<br>
    אבל אם המידע בטבלת <var>צורות</var> חסר – נסתפק במידע מטבלת <var>בניינים</var> ללא המידע בטבלת <var>צורות</var>.<br>
    במילים אחרות: גם אם חסר מידע משלים בטבלת <var>צורות</var>, נרצה בכל זאת לראות את העמודות מטבלת <var>בניינים</var>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במקרה כזה, אנחנו רוצים לעשות <code>JOIN</code> בין טבלת <var>בניינים</var> לבין טבלת <var>צורות</var>,<br>
    אבל לקחת את <em>כל הישויות</em> מטבלת <var>בניינים</var>, אפילו אם לבניין מסוים אין ישות תואמת בטבלת <var>צורות</var>.<br>
    זה ייראה כך:
</p>

<figure>
    <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/outer_join.svg?v=2&raw=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בציור מוצגת בצד ימין טבלת צורות שרקעה כחול, ובצד שמאל טבלת בניינים שרקעה ורדרד. לטבלאות 3 עמודות ו־4 ישויות כל אחת. מהטבלה השמאלית יוצאים אל הטבלה הימנית שלושה חצים: ירוק, מן השורה 'עזריאלי 1' שצורתו משולש אל השורה 'משולש' בטבלת צורות, ו־2 סגולים, מן השורות 'הבית של שרלוק' ו'עזריאלי 2' שצורתם ריבוע והם נמצאים בטבלת בניינים אל השורה 'ריבוע' בטבלת 'צורות'. בטבלה תחתונה מוצגות שלוש שורות שנוצרו מצירוף העמודות של שתי הטבלאות. העמודות של הטבלה הימנית מופיעות בצד ימין בכחול, ואילו אלו של הטבלה השמאלית מופיעות בצד שמאל באדום. השורות שנוצרה מהצירוף של החץ הסגול מוקפות בסגול, והשורה שנוצרה מהצירוף שבעקבות החץ הירוק מוקפת בירוק. נוסף אליהן, שורה נוספת של הפנטגון המחומש מטבלת בניינים השמאלית מופיעה במסגרת מקווקוות. בשורה זו אין נתונים בצד הכחול של הטבלה, ובמקומם מוצב NULL."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        דוגמה לתוצאת שאילתה שלא מוותרת על אף ישות בטבלה השמאלית.
    </figcaption>
</figure>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">הפתרון</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    סדר הפעולות התיאורטי יראה כך:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>בצע <code>CROSS JOIN</code> בין הטבלאות.</li>
    <li>מתוך התוצאות, השאר רק את השורות שעונות על תנאי ה־<code>ON</code>.</li>
    <li>אם בתוצאות, אחרי שסוננו, חסרה שורה מסוימת מהטבלה השמאלית – הכנס אותה בכל זאת.<br>
        בעמודות של הטבלה הימנית הזן <code>NULL</code>.</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הרעיון של צירוף טבלאות בהן כל הישויות מטבלה אחת נמצאות בהכרח בתוצאות, נקרא <code>OUTER JOIN</code>.<br>
    כשאנחנו רוצים שהטבלה השמאלית תהיה זו שממנה ילקחו הישויות בהכרח, נשתמש בפסוקית <code>LEFT OUTER JOIN</code>.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תחביר</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נדגים את התחביר של שאילתת <code>LEFT OUTER JOIN</code>:
</p>

```sql
SELECT *
FROM בניינים
    LEFT OUTER JOIN צורות
    ON בניינים.צורה = צורות.שם;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שימו לב שהטבלה שמופיעה ראשונה בשאילתה נחשבת ל"טבלה שמאלית" – זו שהישויות בה תמיד יופיעו בתוצאות.<br>
    לכן, בניגוד לשאילתות שביצענו בעבר, שינינו את פסוקית ה־<code>FROM</code> כך שתשלוף מטבלת <var>בניינים</var> במקום מטבלת <var>צורות</var>.<br>
    למרות שבמבט ראשון ההבדל עלול להיראות סמנטי בלבד, בפועל השינוי הזה חשוב מאוד.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">דוגמה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לפי מסד הנתונים שלנו, בשנת 2016 יצא הסרט בעל השם הקליט "Bugs Bunny: Looney Tunes Cartoons 1942-1943 - Golden-Era Collection".
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    למרבה הצער, בצעד שמזכיר את חטיף הקוקוס המפוקפק במכולת השכונתית, אף אחד לא נטל אחריות על הסרט.<br>
    בטבלה <var>principals</var> לא מופיע אף לא אדם אחד שמקושר לסרט הזה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כלומר, השאילתה הבאה מחזירה לנו 0 שורות, למרות שהסרט שריר וקיים!
</p>

```sql
SELECT *
FROM movies AS m
    INNER JOIN principals AS p
    ON p.movie_id = m.id
WHERE m.original_title = 'Bugs Bunny: Looney Tunes Cartoons 1942-1943 - Golden-Era Collection';
```

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/exercise.svg?raw=1" style="height: 50px !important;" alt="תרגול">
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            נסו לפתור את הבעיה בעזרת <code>OUTER JOIN</code>.<br>
            כתבו שאילתה שתציג את כל הסרטים, גם כאלו שלא היו בהם בעלי תפקידים.
        </p>
    </div>
    <div style="display: flex; width: 20%; border-right: 0.1rem solid #A5A5A5; padding: 1rem 2rem;">
        <p style="text-align: center; direction: rtl; justify-content: center; align-items: center; clear: both;">
            <strong>חשוב!</strong><br>
            פתרו לפני שתמשיכו!
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נכתוב שאילתה שבאיחוד הסרטים ובעלי התפקידים, תחזיר לנו גם סרטים בהם לא היו בעלי תפקידים:
</p>

```sql
SELECT *
FROM movies AS m
    LEFT OUTER JOIN principals AS p
    ON p.movie_id = m.id;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם נוסיף את ה־<code>WHERE</code>, נראה שהפעם דווקא כן מופיע בתוצאות אותו סרט עלום מ־2016.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="https://github.com/PythonFreeCourse/Notebooks/blob/main/content/week13/images/tip.png?raw=1" style="height: 50px !important;" alt="טיפ!" title="טיפ!">
    </div>
    <div style="width: 90%;">
        ברוב מסדי הנתונים אין צורך לציין במפורש את המילה <code>OUTER</code> עבור <code>LEFT JOIN</code>.
    </div>
</div>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">סיכום</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במחברת זו למדנו כמה דרכים לצרף טבלאות אחת לשנייה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הצורה הראשונה שלמדנו הייתה <code>CROSS JOIN</code>, שמחזירה מכפלה קרטזית בין הטבלאות.<br>
    כלומר – עבור כל ישות בטבלה השמאלית יוצמדו כל הישויות בטבלה הימנית.<br>
    אם הטבלה השמאלית מכילה $n$ ישויות והטבלה הימנית מכילה $m$ ישויות, בתוצאות יופיעו $n \cdot m$ ישויות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הצורה השנייה שלמדנו הייתה <code>INNER JOIN</code>, שמטרתה להחזיר ישויות תואמות בין שתי טבלאות.<br>
    כלומר – אחרי ביצוע מכפלה קרטזית בין שתי הטבלאות, מוחזרות רק השורות שעונות על התנאי שנמצא אחרי מילת המפתח <code>ON</code>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הצורה האחרונה שלמדנו הייתה <code>OUTER JOIN</code>, שמטרתה להחזיר את כל הישויות מטבלה מסוימת, ולצרף לכל אחת מהן מידע מטבלה נוספת – אם יש כזה.<br>
    אפשר לדמיין את התהליך כך: אחרי ביצוע <code>INNER JOIN</code> בין שתי הטבלאות, "דוחפים" שוב לתוצאות את הישויות מהטבלה השמאלית שלא מופיעות בתוצאות.<br>
    בעמודות בהן חסרים נתונים בעקבות החזרת הישויות מהטבלה השמאלית מציבים <code>NULL</code>.
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגילים</span>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">יש יותר טוב מזה?</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כתבו שאילתה שמציגה את הסרט המפורסם ביותר בו שיחק שחקן מסוים.<br>
    הניחו שהפופולריות של סרט נקבעת לפי כמות ההצבעות שקיבל.
</p>

SELECT names.name, movies.title, movies.votes
FROM movies
	JOIN principals
		ON movies.id = principals.movie_id
	JOIN names
		ON principals.name_id = names.id
GROUP BY names.name
ORDER BY movies.votes DESC

### <span style="text-align: right; direction: rtl; float: right; clear: both;">ארבעת המופלאים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הציגו את 4 השחקנים שכִכְּבו בכמות הסרטים הגדולה ביותר.<br>
    בכמה סרטים כיכב כל אחד מהם?
</p>

SELECT names.name, COUNT(movies.title)
FROM movies
	JOIN principals
		ON movies.id = principals.movie_id
	JOIN names
		ON principals.name_id = names.id
GROUP BY names.name
ORDER BY COUNT(movies.title) DESC
LIMIT 4;

Ennio Morricone	188
Ilaiyaraaja	180
Mohanlal	164
William Shakespeare	144

### <span style="text-align: right; direction: rtl; float: right; clear: both;">שיעור חופשי</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    חשבו על שאלה שמעניינת אתכם, ושניתן לענות עליה בעזרת שאילתות <code>JOIN</code> על הנתונים שבמסד הנתונים.<br>
    צרו שאילתה שתעזור לכם לענות על השאלה הזו.
</p>